/* line 3, buttons.scss */
.btn {
  font-size: 13px;
  position: relative;
  display: inline-block;
  background-color: #4bb0da;
  color: #fcfcfc;
  font-family: "Chivo", sans-serif;
  padding: 1.1em 2em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px 0 #b1b3b1 ;
  -webkit-box-shadow: 0 1px 1px 0 #b1b3b1 ;
  box-shadow: 0 1px 1px 0 #b1b3b1 ; }
  /* line 14, buttons.scss */
  .btn:hover {
    color: #fcfcfc;
    background-color: #258ab4; }
  /* line 18, buttons.scss */
  .btn.anchor {
    display: block; }

/* line 24, buttons.scss */
.btn.btn-morado, .btn.btn-action {
  background-color: #9966c8; }
  /* line 26, buttons.scss */
  .btn.btn-morado:hover, .btn.btn-action:hover {
    background-color: #733ca6; }
  /* line 31, buttons.scss */
  .btn.btn-morado.btn-wicon:after, .btn.btn-action.btn-wicon:after {
    border-right: #b28cd5 1px solid;
    border-left: #8042b9 1px solid; }
  /* line 35, buttons.scss */
  .btn.btn-morado.btn-wicon:hover:after, .btn.btn-action.btn-wicon:hover:after {
    border-right: #9966c8 1px solid;
    border-left: #592e80 1px solid; }
/* line 41, buttons.scss */
.btn.btn-verde, .btn.btn-accept {
  background-color: #88c41d; }
  /* line 43, buttons.scss */
  .btn.btn-verde:hover, .btn.btn-accept:hover {
    background-color: #699817; }
  /* line 47, buttons.scss */
  .btn.btn-verde.btn-wicon:after, .btn.btn-accept.btn-wicon:after {
    border-right: #c0eb76 1px solid;
    border-left: #97da21 1px solid; }
  /* line 51, buttons.scss */
  .btn.btn-verde.btn-wicon:hover:after, .btn.btn-accept.btn-wicon:hover:after {
    border-right: #ace44a 1px solid;
    border-left: #3b550d 1px solid; }
/* line 57, buttons.scss */
.btn.btn-naranja, .btn.btn-warning {
  background-color: #d29813; }
  /* line 59, buttons.scss */
  .btn.btn-naranja:hover, .btn.btn-warning:hover {
    background-color: #a3760f; }
  /* line 63, buttons.scss */
  .btn.btn-naranja.btn-wicon:after, .btn.btn-warning.btn-wicon:after {
    border-right: #eeba43 1px solid;
    border-left: #a3760f 1px solid; }
  /* line 67, buttons.scss */
  .btn.btn-naranja.btn-wicon:hover:after, .btn.btn-warning.btn-wicon:hover:after {
    border-right: #eeba43 1px solid;
    border-left: #453206 1px solid; }
/* line 73, buttons.scss */
.btn.btn-rojo, .btn.btn-error {
  background-color: #dd4646; }
  /* line 75, buttons.scss */
  .btn.btn-rojo:hover, .btn.btn-error:hover {
    background-color: #b52121; }
  /* line 79, buttons.scss */
  .btn.btn-rojo.btn-wicon:after, .btn.btn-error.btn-wicon:after {
    border-right: #e57171 1px solid;
    border-left: #cb2525 1px solid; }
  /* line 83, buttons.scss */
  .btn.btn-rojo.btn-wicon:hover:after, .btn.btn-error.btn-wicon:hover:after {
    border-right: #dd4646 1px solid;
    border-left: #751515 1px solid; }
/* line 89, buttons.scss */
.btn.btn-white {
  color: #282828;
  background-color: #fcfcfc; }
  /* line 92, buttons.scss */
  .btn.btn-white:hover {
    background-color: #d6d6d6; }
  /* line 96, buttons.scss */
  .btn.btn-white.btn-wicon:after {
    border-right: white 1px solid;
    border-left: #e3e3e3 1px solid; }
  /* line 100, buttons.scss */
  .btn.btn-white.btn-wicon:hover:after {
    border-right: white 1px solid;
    border-left: #898989 1px solid; }
/* line 106, buttons.scss */
.btn.btn-gris {
  color: #212121;
  background-color: #f1f1f1; }
  /* line 110, buttons.scss */
  .btn.btn-gris:hover {
    background-color: #e4e4e4; }
  /* line 114, buttons.scss */
  .btn.btn-gris.btn-wicon:after {
    border-right: white 1px solid;
    border-left: #bebebe 1px solid; }
  /* line 118, buttons.scss */
  .btn.btn-gris.btn-wicon:hover:after {
    border-right: #f1f1f1 1px solid;
    border-left: #989898 1px solid; }
/* line 124, buttons.scss */
.btn.btn-gris-oscuro {
  background-color: #b1b3b1; }
  /* line 126, buttons.scss */
  .btn.btn-gris-oscuro:hover {
    background-color: #8a8d8a; }
  /* line 130, buttons.scss */
  .btn.btn-gris-oscuro.btn-wicon:after {
    border-right: #cbcccb 1px solid;
    border-left: #7d817d 1px solid; }
  /* line 134, buttons.scss */
  .btn.btn-gris-oscuro.btn-wicon:hover:after {
    border-right: #b1b3b1 1px solid;
    border-left: #585a58 1px solid; }

/* line 144, buttons.scss */
.btn.btn-p {
  font-size: 0.8em; }
/* line 148, buttons.scss */
.btn.btn-m {
  font-size: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em; }
  /* line 153, buttons.scss */
  .btn.btn-m.btn-wicon .btn-wicon-icon {
    font-size: 1.1em;
    right: 0.6em;
    line-height: 2.1em; }
/* line 160, buttons.scss */
.btn.btn-g {
  font-size: 1.3em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-right: 2em; }
  /* line 166, buttons.scss */
  .btn.btn-g.btn-wicon .btn-wicon-icon {
    font-size: 1.3em;
    right: 0.5em;
    line-height: 2.1em; }
/* line 173, buttons.scss */
.btn.btn-h {
  text-align: left;
  font-size: 1.5em;
  padding: 1em 2em;
  padding-left: 0.8em; }
  /* line 179, buttons.scss */
  .btn.btn-h.btn-wicon .btn-wicon-icon {
    font-size: 1.7em;
    right: 0.25em;
    line-height: 1.9em; }

/* line 191, buttons.scss */
.btn.btn-wicon {
  text-align: left;
  padding-right: 3.4em; }
  /* line 194, buttons.scss */
  .btn.btn-wicon .btn-wicon-icon {
    font-size: 1.2em;
    display: block;
    line-height: 1.9em;
    position: absolute;
    right: 0.55em;
    top: 0; }
  /* line 202, buttons.scss */
  .btn.btn-wicon:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 2.5em;
    top: 0;
    border-right: #75c3e3 1px solid;
    border-left: #299ac9 1px solid; }
  /* line 212, buttons.scss */
  .btn.btn-wicon:hover:after {
    border-right: #4bb0da 1px solid;
    border-left: #185974 1px solid; }
/* line 217, buttons.scss */
.btn.btn-wicon.btn-wicon-left {
  padding-right: 2em;
  padding-left: 3.4em; }
  /* line 220, buttons.scss */
  .btn.btn-wicon.btn-wicon-left .btn-wicon-icon {
    right: auto;
    left: 0.6em; }
  /* line 224, buttons.scss */
  .btn.btn-wicon.btn-wicon-left:after {
    right: auto;
    left: 2.5em; }
