/* line 3, colummns.scss */
.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

/* line 9, colummns.scss */
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14,
.grid15, .grid16, .grid17, .grid18, .grid19, .grid20, .grid21, .grid22, .grid23, .grid24 {
  float: left;
  margin-left: 20px; }

/* line 15, colummns.scss */
.grid1 {
  width: 60px; }

/* line 16, colummns.scss */
.offset1 {
  margin-left: 80px; }

/* line 15, colummns.scss */
.grid2 {
  width: 140px; }

/* line 16, colummns.scss */
.offset2 {
  margin-left: 160px; }

/* line 15, colummns.scss */
.grid3 {
  width: 220px; }

/* line 16, colummns.scss */
.offset3 {
  margin-left: 240px; }

/* line 15, colummns.scss */
.grid4 {
  width: 300px; }

/* line 16, colummns.scss */
.offset4 {
  margin-left: 320px; }

/* line 15, colummns.scss */
.grid5 {
  width: 380px; }

/* line 16, colummns.scss */
.offset5 {
  margin-left: 400px; }

/* line 15, colummns.scss */
.grid6 {
  width: 460px; }

/* line 16, colummns.scss */
.offset6 {
  margin-left: 480px; }

/* line 15, colummns.scss */
.grid7 {
  width: 540px; }

/* line 16, colummns.scss */
.offset7 {
  margin-left: 560px; }

/* line 15, colummns.scss */
.grid8 {
  width: 620px; }

/* line 16, colummns.scss */
.offset8 {
  margin-left: 640px; }

/* line 15, colummns.scss */
.grid9 {
  width: 700px; }

/* line 16, colummns.scss */
.offset9 {
  margin-left: 720px; }

/* line 15, colummns.scss */
.grid10 {
  width: 780px; }

/* line 16, colummns.scss */
.offset10 {
  margin-left: 800px; }

/* line 15, colummns.scss */
.grid11 {
  width: 860px; }

/* line 16, colummns.scss */
.offset11 {
  margin-left: 880px; }

/* line 15, colummns.scss */
.grid12 {
  width: 940px; }

/* line 16, colummns.scss */
.offset12 {
  margin-left: 960px; }

/* line 19, colummns.scss */
.row {
  margin-left: -20px;
  *zoom: 1; }
  /* line 26, functions.scss */
  .row:before, .row:after {
    display: table;
    content: ""; }
  /* line 30, functions.scss */
  .row:after {
    clear: both; }

/* line 24, colummns.scss */
.clear {
  clear: both; }

/* line 28, colummns.scss */
.right {
  float: right;
  text-align: right; }

/* line 33, colummns.scss */
.left {
  float: left;
  text-align: left; }

/* line 38, colummns.scss */
.inline {
  display: inline-block; }

/* line 42, colummns.scss */
.center {
  text-align: center; }
