/* line 3, forms.scss */
form {
  margin-top: 40px; }
  /* line 5, forms.scss */
  form label {
    font-family: "Ubuntu", sans-serif; }
    /* line 7, forms.scss */
    form label .validation-error {
      display: none; }
  /* line 11, forms.scss */
  form input, form select {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4bb0da;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: -1px -1px 2px 0 #b1b3b1 inset;
    -webkit-box-shadow: -1px -1px 2px 0 #b1b3b1 inset;
    box-shadow: -1px -1px 2px 0 #b1b3b1 inset; }
  /* line 18, forms.scss */
  form .field {
    margin-bottom: 10px; }
  /* line 21, forms.scss */
  form .select_field {
    display: inline-block;
    width: 90%;
    padding: 5px 10px;
    margin: 10px 0 5px 0; }
  /* line 32, forms.scss */
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="url"],
  form input[type="tel"],
  form textarea {
    width: 85%; }
  /* line 41, forms.scss */
  form .grid3 input[type="text"],
  form .grid3 input[type="password"],
  form .grid3 input[type="email"],
  form .grid3 input[type="url"],
  form .grid3 input[type="tel"],
  form .grid3 textarea {
    width: 69%; }
  /* line 45, forms.scss */
  form .validation-error {
    display: block;
    margin-bottom: 15px;
    background-color: #dd4646;
    width: 88%;
    padding: 5px;
    color: white;
    margin-top: -16px; }

/* line 56, forms.scss */
#error_explanation {
  margin-bottom: 20px; }
  /* line 58, forms.scss */
  #error_explanation h2 {
    display: none; }
  /* line 61, forms.scss */
  #error_explanation ul {
    margin-left: 10px;
    list-style-type: disc; }
    /* line 64, forms.scss */
    #error_explanation ul li {
      list-style-type: disc; }

/* line 69, forms.scss */
.session_form, .register_form, .edit_form {
  margin-top: 0px;
  padding: 20px 20px 40px;
  background-color: #ececec;
  background-image: -moz-linear-gradient(top, #ececec 0%, white 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, white));
  background-image: -webkit-linear-gradient(top, #ececec 0%, white 100%);
  background-image: -o-linear-gradient(top, #ececec 0%, white 100%);
  background-image: -ms-linear-gradient(top, #ececec 0%, white 100%);
  background-image: linear-gradient(to bottom, #ececec 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='white',GradientType=0 );
  -moz-box-shadow: 0 0 3px 0 #cacaca ;
  -webkit-box-shadow: 0 0 3px 0 #cacaca ;
  box-shadow: 0 0 3px 0 #cacaca ; }
