/* line 4, generals.scss */
html {
  overflow-y: scroll; }

/* line 8, generals.scss */
.affix {
  top: 60px; }

/* line 12, generals.scss */
.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 0; }

/* line 18, generals.scss */
.right {
  float: right;
  text-align: right; }

/* line 23, generals.scss */
div, section, article, footer, header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* Headlines Font-size definition */
/* ---------------------------------------------------------------- */
/* line 30, generals.scss */
h1 {
  font-size: 2.5em;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  margin-bottom: 20px; }

/* line 30, generals.scss */
h2 {
  font-size: 2.2em;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  margin-bottom: 20px; }

/* line 30, generals.scss */
h3 {
  font-size: 1.9em;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  margin-bottom: 20px; }

/* line 30, generals.scss */
h4 {
  font-size: 1.6em;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  margin-bottom: 20px; }

/* line 30, generals.scss */
h5 {
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  margin-bottom: 20px; }

/* line 30, generals.scss */
h6 {
  font-size: 1em;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  margin-bottom: 20px; }

/* line 39, generals.scss */
.mt0 {
  margin-top: 0px; }

/* line 40, generals.scss */
.mr0 {
  margin-right: 0px; }

/* line 41, generals.scss */
.mb0 {
  margin-bottom: 0px; }

/* line 42, generals.scss */
.ml0 {
  margin-left: 0px; }

/* line 39, generals.scss */
.mt10 {
  margin-top: 10px; }

/* line 40, generals.scss */
.mr10 {
  margin-right: 10px; }

/* line 41, generals.scss */
.mb10 {
  margin-bottom: 10px; }

/* line 42, generals.scss */
.ml10 {
  margin-left: 10px; }

/* line 39, generals.scss */
.mt20 {
  margin-top: 20px; }

/* line 40, generals.scss */
.mr20 {
  margin-right: 20px; }

/* line 41, generals.scss */
.mb20 {
  margin-bottom: 20px; }

/* line 42, generals.scss */
.ml20 {
  margin-left: 20px; }

/* line 39, generals.scss */
.mt30 {
  margin-top: 30px; }

/* line 40, generals.scss */
.mr30 {
  margin-right: 30px; }

/* line 41, generals.scss */
.mb30 {
  margin-bottom: 30px; }

/* line 42, generals.scss */
.ml30 {
  margin-left: 30px; }

/* line 39, generals.scss */
.mt40 {
  margin-top: 40px; }

/* line 40, generals.scss */
.mr40 {
  margin-right: 40px; }

/* line 41, generals.scss */
.mb40 {
  margin-bottom: 40px; }

/* line 42, generals.scss */
.ml40 {
  margin-left: 40px; }

/* line 39, generals.scss */
.mt50 {
  margin-top: 50px; }

/* line 40, generals.scss */
.mr50 {
  margin-right: 50px; }

/* line 41, generals.scss */
.mb50 {
  margin-bottom: 50px; }

/* line 42, generals.scss */
.ml50 {
  margin-left: 50px; }

/* line 39, generals.scss */
.mt60 {
  margin-top: 60px; }

/* line 40, generals.scss */
.mr60 {
  margin-right: 60px; }

/* line 41, generals.scss */
.mb60 {
  margin-bottom: 60px; }

/* line 42, generals.scss */
.ml60 {
  margin-left: 60px; }

/* line 39, generals.scss */
.mt70 {
  margin-top: 70px; }

/* line 40, generals.scss */
.mr70 {
  margin-right: 70px; }

/* line 41, generals.scss */
.mb70 {
  margin-bottom: 70px; }

/* line 42, generals.scss */
.ml70 {
  margin-left: 70px; }

/* line 39, generals.scss */
.mt80 {
  margin-top: 80px; }

/* line 40, generals.scss */
.mr80 {
  margin-right: 80px; }

/* line 41, generals.scss */
.mb80 {
  margin-bottom: 80px; }

/* line 42, generals.scss */
.ml80 {
  margin-left: 80px; }

/* line 39, generals.scss */
.mt90 {
  margin-top: 90px; }

/* line 40, generals.scss */
.mr90 {
  margin-right: 90px; }

/* line 41, generals.scss */
.mb90 {
  margin-bottom: 90px; }

/* line 42, generals.scss */
.ml90 {
  margin-left: 90px; }

/* line 39, generals.scss */
.mt100 {
  margin-top: 100px; }

/* line 40, generals.scss */
.mr100 {
  margin-right: 100px; }

/* line 41, generals.scss */
.mb100 {
  margin-bottom: 100px; }

/* line 42, generals.scss */
.ml100 {
  margin-left: 100px; }

/* line 46, generals.scss */
.pt0 {
  padding-top: 0px; }

/* line 47, generals.scss */
.pr0 {
  padding-right: 0px; }

/* line 48, generals.scss */
.pb0 {
  padding-bottom: 0px; }

/* line 49, generals.scss */
.pl0 {
  padding-left: 0px; }

/* line 46, generals.scss */
.pt10 {
  padding-top: 10px; }

/* line 47, generals.scss */
.pr10 {
  padding-right: 10px; }

/* line 48, generals.scss */
.pb10 {
  padding-bottom: 10px; }

/* line 49, generals.scss */
.pl10 {
  padding-left: 10px; }

/* line 46, generals.scss */
.pt20 {
  padding-top: 20px; }

/* line 47, generals.scss */
.pr20 {
  padding-right: 20px; }

/* line 48, generals.scss */
.pb20 {
  padding-bottom: 20px; }

/* line 49, generals.scss */
.pl20 {
  padding-left: 20px; }

/* line 46, generals.scss */
.pt30 {
  padding-top: 30px; }

/* line 47, generals.scss */
.pr30 {
  padding-right: 30px; }

/* line 48, generals.scss */
.pb30 {
  padding-bottom: 30px; }

/* line 49, generals.scss */
.pl30 {
  padding-left: 30px; }

/* line 46, generals.scss */
.pt40 {
  padding-top: 40px; }

/* line 47, generals.scss */
.pr40 {
  padding-right: 40px; }

/* line 48, generals.scss */
.pb40 {
  padding-bottom: 40px; }

/* line 49, generals.scss */
.pl40 {
  padding-left: 40px; }

/* line 46, generals.scss */
.pt50 {
  padding-top: 50px; }

/* line 47, generals.scss */
.pr50 {
  padding-right: 50px; }

/* line 48, generals.scss */
.pb50 {
  padding-bottom: 50px; }

/* line 49, generals.scss */
.pl50 {
  padding-left: 50px; }

/* line 46, generals.scss */
.pt60 {
  padding-top: 60px; }

/* line 47, generals.scss */
.pr60 {
  padding-right: 60px; }

/* line 48, generals.scss */
.pb60 {
  padding-bottom: 60px; }

/* line 49, generals.scss */
.pl60 {
  padding-left: 60px; }

/* line 46, generals.scss */
.pt70 {
  padding-top: 70px; }

/* line 47, generals.scss */
.pr70 {
  padding-right: 70px; }

/* line 48, generals.scss */
.pb70 {
  padding-bottom: 70px; }

/* line 49, generals.scss */
.pl70 {
  padding-left: 70px; }

/* line 46, generals.scss */
.pt80 {
  padding-top: 80px; }

/* line 47, generals.scss */
.pr80 {
  padding-right: 80px; }

/* line 48, generals.scss */
.pb80 {
  padding-bottom: 80px; }

/* line 49, generals.scss */
.pl80 {
  padding-left: 80px; }

/* line 46, generals.scss */
.pt90 {
  padding-top: 90px; }

/* line 47, generals.scss */
.pr90 {
  padding-right: 90px; }

/* line 48, generals.scss */
.pb90 {
  padding-bottom: 90px; }

/* line 49, generals.scss */
.pl90 {
  padding-left: 90px; }

/* line 46, generals.scss */
.pt100 {
  padding-top: 100px; }

/* line 47, generals.scss */
.pr100 {
  padding-right: 100px; }

/* line 48, generals.scss */
.pb100 {
  padding-bottom: 100px; }

/* line 49, generals.scss */
.pl100 {
  padding-left: 100px; }

/* Generals */
/* ---------------------------------------------------------------- */
/* line 54, generals.scss */
img {
  max-width: 100%;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic; }

/* line 59, generals.scss */
.icons {
  font-family: 'icomoon';
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision; }
  /* line 66, generals.scss */
  .icons.icons-medium {
    font-size: 16px;
    line-height: 1.2em; }
  /* line 70, generals.scss */
  .icons.icons-big {
    font-size: 22px;
    line-height: 1.2em; }
  /* line 74, generals.scss */
  .icons.icons-small {
    font-size: 18px;
    line-height: 12px; }

/* line 79, generals.scss */
.icons.small {
  font-size: 18px;
  line-height: 12px;
  position: relative;
  top: 0.15em;
  margin-right: 5px; }

/* line 87, generals.scss */
.img-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/* line 91, generals.scss */
.innerpadding {
  padding-left: 10px;
  padding-right: 10px; }

/* line 96, generals.scss */
ol, ul {
  list-style: disc;
  margin-left: 0;
  padding-left: 20px; }
  /* line 100, generals.scss */
  ol li, ul li {
    margin: 1.5em 0; }

/* line 105, generals.scss */
p {
  margin: 10px 0;
  line-height: 1.5em; }

/* line 110, generals.scss */
a {
  color: #4b4d4b;
  text-decoration: none;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease; }
  /* line 116, generals.scss */
  a:hover {
    text-decoration: none;
    color: #4bb0da; }

/* line 122, generals.scss */
li {
  vertical-align: top; }

/* line 126, generals.scss */
strong, b {
  font-weight: bold; }

/* line 130, generals.scss */
.azul {
  color: #4bb0da; }

/* line 131, generals.scss */
.gris {
  color: #4b4d4b; }

/* line 132, generals.scss */
.gris_claro {
  color: #b1b3b1; }

/* line 133, generals.scss */
.gris_oscuro {
  color: #282828; }

/* line 134, generals.scss */
.gris_sombra {
  color: #4bb0da; }

/* line 135, generals.scss */
.menu_claro {
  color: #fafafa; }

/* line 136, generals.scss */
.menu_oscuro {
  color: #eaeaea; }

/* line 138, generals.scss */
.unstyled {
  list-style: none; }

/* line 142, generals.scss */
.arrow-down-medium {
  display: inline-block;
  width: 0;
  height: 0;
  min-width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4b4d4b; }

/* line 146, generals.scss */
.arrow-left-medium {
  display: inline-block;
  width: 0;
  height: 0;
  min-width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #4b4d4b; }

/* line 150, generals.scss */
.arrow-right-medium {
  display: inline-block;
  width: 0;
  height: 0;
  min-width: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #4b4d4b; }

/* line 154, generals.scss */
.titleunderline {
  padding-bottom: 5px;
  border-bottom: 1px #b1b3b1 solid; }

/* line 159, generals.scss */
a.btn, .btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  background-color: #4bb0da;
  color: white;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 #3c3c3c;
  -moz-box-shadow: 0 1px 1px 0 #b1b3b1 ;
  -webkit-box-shadow: 0 1px 1px 0 #b1b3b1 ;
  box-shadow: 0 1px 1px 0 #b1b3b1 ;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }
  /* line 183, functions.scss */
  a.btn:hover, .btn:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    background-color: #21799e; }
  /* line 161, generals.scss */
  a.btn.close, .btn.close {
    background-color: #dd4646; }

/* line 166, generals.scss */
.close {
  position: absolute;
  top: 10px;
  right: 10px; }

/* line 172, generals.scss */
.reserve_boton {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  background-color: #4bb0da;
  color: white;
  text-align: left;
  line-height: 50px;
  font-family: "Chivo", sans-serif;
  padding-left: 20px;
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px 0 #b1b3b1 ;
  -webkit-box-shadow: 0 1px 1px 0 #b1b3b1 ;
  box-shadow: 0 1px 1px 0 #b1b3b1 ; }
  /* line 187, generals.scss */
  .reserve_boton:hover {
    background-color: #185974; }
    /* line 189, generals.scss */
    .reserve_boton:hover .icons {
      color: #b1b3b1; }
  /* line 193, generals.scss */
  .reserve_boton .icons {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -24px;
    font-size: 30px;
    color: #4b4d4b;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }

/* line 203, generals.scss */
.redes_sociales {
  position: fixed;
  z-index: 1000;
  width: 0;
  top: 50%;
  right: 0;
  height: 200px;
  margin-top: -120px;
  font-size: 1.2em; }
  /* line 213, generals.scss */
  .redes_sociales .list {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 217, generals.scss */
    .redes_sociales .list li {
      display: block;
      margin: 5px 0; }
    /* line 221, generals.scss */
    .redes_sociales .list .red {
      display: block;
      width: 245px;
      height: 45px;
      line-height: 30px;
      position: relative;
      right: 50px;
      color: white;
      background-color: #4bb0da;
      padding-right: 20px;
      -webkit-border-radius: 22.5px;
      -moz-border-radius: 22.5px;
      -ms-border-radius: 22.5px;
      -o-border-radius: 22.5px;
      border-radius: 22.5px;
      text-decoration: none; }
      /* line 233, generals.scss */
      .redes_sociales .list .red:hover {
        right: 240px;
        text-decoration: none; }
      /* line 237, generals.scss */
      .redes_sociales .list .red .icons {
        font-size: 2em;
        position: relative;
        top: 8px;
        margin-left: 10px;
        margin-right: 10px; }

/* line 248, generals.scss */
.titulo-cinta, .titulo_cinta {
  width: 100%;
  background-color: #4b4d4b;
  color: white;
  padding: 10px 25px;
  position: relative;
  left: -25px;
  -moz-box-shadow: 0 4px 0 0 #4bb0da ;
  -webkit-box-shadow: 0 4px 0 0 #4bb0da ;
  box-shadow: 0 4px 0 0 #4bb0da ; }
  /* line 256, generals.scss */
  .titulo-cinta:before, .titulo-cinta .arrow-cinta-left, .titulo_cinta:before, .titulo_cinta .arrow-cinta-left {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #4bb0da;
    content: "";
    display: block;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1; }
  /* line 266, generals.scss */
  .titulo-cinta:after, .titulo-cinta .arrow-cinta-right, .titulo_cinta:after, .titulo_cinta .arrow-cinta-right {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #4bb0da;
    content: "";
    display: block;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: -1; }

/* line 278, generals.scss */
section.grid12 > header {
  padding-top: 70px; }

/* line 282, generals.scss */
.titulo-cinta.morado, .titulo_cinta {
  -moz-box-shadow: 0 4px 0 0 #9966c8 ;
  -webkit-box-shadow: 0 4px 0 0 #9966c8 ;
  box-shadow: 0 4px 0 0 #9966c8 ; }
  /* line 284, generals.scss */
  .titulo-cinta.morado:before, .titulo-cinta.morado .arrow-cinta-left, .titulo_cinta:before, .titulo_cinta .arrow-cinta-left {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #9966c8; }
  /* line 287, generals.scss */
  .titulo-cinta.morado:after, .titulo-cinta.morado .arrow-cinta-right, .titulo_cinta:after, .titulo_cinta .arrow-cinta-right {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #9966c8; }

/* line 291, generals.scss */
.titulo-cinta.verde, .titulo_cinta {
  -moz-box-shadow: 0 4px 0 0 #ace44a ;
  -webkit-box-shadow: 0 4px 0 0 #ace44a ;
  box-shadow: 0 4px 0 0 #ace44a ; }
  /* line 293, generals.scss */
  .titulo-cinta.verde:before, .titulo-cinta.verde .arrow-cinta-left, .titulo_cinta:before, .titulo_cinta .arrow-cinta-left {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ace44a; }
  /* line 296, generals.scss */
  .titulo-cinta.verde:after, .titulo-cinta.verde .arrow-cinta-right, .titulo_cinta:after, .titulo_cinta .arrow-cinta-right {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #ace44a; }

/* line 300, generals.scss */
.titulo-cinta.naranja, .titulo_cinta {
  -moz-box-shadow: 0 4px 0 0 #eeba43 ;
  -webkit-box-shadow: 0 4px 0 0 #eeba43 ;
  box-shadow: 0 4px 0 0 #eeba43 ; }
  /* line 302, generals.scss */
  .titulo-cinta.naranja:before, .titulo-cinta.naranja .arrow-cinta-left, .titulo_cinta:before, .titulo_cinta .arrow-cinta-left {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #eeba43; }
  /* line 305, generals.scss */
  .titulo-cinta.naranja:after, .titulo-cinta.naranja .arrow-cinta-right, .titulo_cinta:after, .titulo_cinta .arrow-cinta-right {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #eeba43; }

/* line 309, generals.scss */
.titulo-cinta.rojo, .titulo_cinta {
  -moz-box-shadow: 0 4px 0 0 #dd4646 ;
  -webkit-box-shadow: 0 4px 0 0 #dd4646 ;
  box-shadow: 0 4px 0 0 #dd4646 ; }
  /* line 311, generals.scss */
  .titulo-cinta.rojo:before, .titulo-cinta.rojo .arrow-cinta-left, .titulo_cinta:before, .titulo_cinta .arrow-cinta-left {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #dd4646; }
  /* line 314, generals.scss */
  .titulo-cinta.rojo:after, .titulo-cinta.rojo .arrow-cinta-right, .titulo_cinta:after, .titulo_cinta .arrow-cinta-right {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #dd4646; }

/* line 319, generals.scss */
blockquote {
  line-height: 1.5em;
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #4bb0da; }

/* line 326, generals.scss */
.clearfix:after {
  clear: both; }

/* line 327, generals.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 328, generals.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 329, generals.scss */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0); }

/* line 329, generals.scss */
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* line 330, generals.scss */
.tooltip.top {
  margin-top: -3px; }

/* line 331, generals.scss */
.tooltip.right {
  margin-left: 3px; }

/* line 332, generals.scss */
.tooltip.bottom {
  margin-top: 3px; }

/* line 333, generals.scss */
.tooltip.left {
  margin-left: -3px; }

/* line 334, generals.scss */
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 335, generals.scss */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

/* line 336, generals.scss */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

/* line 337, generals.scss */
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000; }

/* line 338, generals.scss */
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000; }

/* line 339, generals.scss */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

/* line 340, generals.scss */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 236px;
  padding: 1px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 340, generals.scss */
.popover.top {
  margin-bottom: 10px; }

/* line 341, generals.scss */
.popover.right {
  margin-left: 10px; }

/* line 342, generals.scss */
.popover.bottom {
  margin-top: 10px; }

/* line 343, generals.scss */
.popover.left {
  margin-right: 10px; }

/* line 344, generals.scss */
.popover-title {
  color: #282828;
  margin: 0;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

/* line 345, generals.scss */
.popover-content {
  padding: 0px 14px 9px;
  color: #666; }

/* line 346, generals.scss */
.popover-content p, .popover-content ul, .popover-content ol {
  margin-bottom: 0;
  font-size: 0.9em; }

/* line 347, generals.scss */
.popover .arrow, .popover .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

/* line 348, generals.scss */
.popover .arrow:after {
  content: "";
  z-index: -1; }

/* line 349, generals.scss */
.popover.top .arrow {
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff; }

/* line 349, generals.scss */
.popover.top .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -1px;
  left: -11px; }

/* line 350, generals.scss */
.popover.right .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: #ffffff; }

/* line 350, generals.scss */
.popover.right .arrow:after {
  border-width: 11px 11px 11px 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: -1px; }

/* line 351, generals.scss */
.popover.bottom .arrow {
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff; }

/* line 351, generals.scss */
.popover.bottom .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -1px;
  left: -11px; }

/* line 352, generals.scss */
.popover.left .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: #ffffff; }

/* line 352, generals.scss */
.popover.left .arrow:after {
  border-width: 11px 0 11px 11px;
  border-left-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  right: -1px; }

/* line 353, generals.scss */
.modal-open .dropdown-menu {
  z-index: 2050; }

/* line 354, generals.scss */
.modal-open .dropdown.open {
  *z-index: 2050; }

/* line 355, generals.scss */
.modal-open .popover {
  z-index: 2060; }

/* line 356, generals.scss */
.modal-open .tooltip {
  z-index: 2080; }

/* line 357, generals.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

/* line 357, generals.scss */
.modal-backdrop.fade {
  opacity: 0; }

/* line 358, generals.scss */
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* line 359, generals.scss */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 740px;
  margin: -250px 0px 0px -370px;
  background-color: #ffffff;
  border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

/* line 359, generals.scss */
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%; }

/* line 360, generals.scss */
.modal.fade.in {
  top: 50%; }

/* line 361, generals.scss */
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee; }

/* line 361, generals.scss */
.modal-header .close {
  margin-top: 2px; }

/* line 362, generals.scss */
.modal-header h3 {
  margin: 0;
  line-height: 30px; }

/* line 363, generals.scss */
.modal-body {
  overflow-y: auto;
  max-height: 80%px;
  padding: 15px; }

/* line 364, generals.scss */
.modal-form {
  margin-bottom: 0; }

/* line 365, generals.scss */
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1; }

/* line 365, generals.scss */
.modal-footer:before, .modal-footer:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 366, generals.scss */
.modal-footer:after {
  clear: both; }

/* line 367, generals.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

/* line 368, generals.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

/* line 369, generals.scss */
.dropup, .dropdown {
  position: relative; }

/* line 370, generals.scss */
.dropdown-toggle {
  *margin-bottom: -3px; }

/* line 371, generals.scss */
.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0; }

/* line 372, generals.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: ""; }

/* line 373, generals.scss */
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px; }

/* line 374, generals.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* line 374, generals.scss */
.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

/* line 375, generals.scss */
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff; }

/* line 376, generals.scss */
.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap; }

/* line 377, generals.scss */
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0); }

/* line 378, generals.scss */
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0); }

/* line 379, generals.scss */
.dropdown-menu .disabled > a, .dropdown-menu .disabled > a:hover {
  color: #999999; }

/* line 380, generals.scss */
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: default; }

/* line 381, generals.scss */
.open {
  *z-index: 1000; }

/* line 381, generals.scss */
.open > .dropdown-menu {
  display: block; }

/* line 382, generals.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

/* line 383, generals.scss */
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191"; }

/* line 384, generals.scss */
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

/* line 385, generals.scss */
.dropdown-submenu {
  position: relative; }

/* line 386, generals.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

/* line 387, generals.scss */
.dropdown-submenu:hover .dropdown-menu {
  display: block; }

/* line 388, generals.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

/* line 389, generals.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }

/* line 390, generals.scss */
.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px; }

/* line 391, generals.scss */
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 392, generals.scss */
.pull-right {
  float: right; }

/* line 393, generals.scss */
.pull-left {
  float: left; }

/* line 394, generals.scss */
.hide {
  display: none; }

/* line 395, generals.scss */
.show {
  display: block; }

/* line 396, generals.scss */
.invisible {
  visibility: hidden; }

/* line 397, generals.scss */
.affix {
  position: fixed; }

/* line 398, generals.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

/* line 398, generals.scss */
.fade.in {
  opacity: 1; }

/* line 399, generals.scss */
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow: visible \9;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }

/* line 399, generals.scss */
.collapse.in {
  height: auto; }
