/* line 3, header.scss */
.fixed.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000;
  height: 42px;
  border-bottom: 1px solid #CACACA;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 );
  -moz-box-shadow: 0px 0px 1px 0px #6b6b6b ;
  -webkit-box-shadow: 0px 0px 1px 0px #6b6b6b ;
  box-shadow: 0px 0px 1px 0px #6b6b6b ; }
  /* line 13, header.scss */
  .fixed.header #logo {
    margin-top: 6px;
    margin-left: 20px; }
  /* line 18, header.scss */
  .fixed.header #main_menu .sitename {
    margin-bottom: 0;
    font-size: 1.4em;
    line-height: 42px;
    text-shadow: 0px 1px 0 white; }
    /* line 24, header.scss */
    .fixed.header #main_menu .sitename a:link {
      color: #282828; }

/* line 32, header.scss */
#header {
  margin-top: 65px; }

/* line 36, header.scss */
.hero-unit {
  padding: 40px 0; }

/* line 40, header.scss */
.over_content {
  margin-top: 30px;
  width: 100%;
  color: white;
  background-color: #E7E7E7;
  background: #454545;
  background: -moz-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #454545), color-stop(90%, #222222));
  background: -webkit-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: -o-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: -ms-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: radial-gradient(ellipse at center, #454545 0%, #222222 90%);
  box-shadow: 0 5px 0 0 #4bb0da, 0 10px 0 0 #282828; }
  /* line 54, header.scss */
  .over_content .container {
    padding-top: 40px;
    padding-bottom: 40px; }
  /* line 58, header.scss */
  .over_content .slogan {
    font-size: 2.5em;
    margin-bottom: 0;
    color: #fcfcfc; }
  /* line 63, header.scss */
  .over_content .subtitle {
    font-size: 1.5em;
    color: #4bb0da;
    margin-top: 0px; }
