/* line 4, iconos.scss */
.icons {
  font-family: 'icomoon';
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision; }
  /* line 11, iconos.scss */
  .icons.icons-small {
    font-size: 14px;
    line-height: 1.2em; }
  /* line 17, iconos.scss */
  .icons.icons-medium {
    font-size: 18px;
    line-height: 1.2em; }
  /* line 23, iconos.scss */
  .icons.icons-big {
    font-size: 22px;
    line-height: 1.2em; }
    /* line 26, iconos.scss */
    .icons.icons-big.icons-rounded {
      line-height: 2.1em; }
  /* line 30, iconos.scss */
  .icons.icons-huge {
    font-size: 30px;
    line-height: 1.2em; }
    /* line 33, iconos.scss */
    .icons.icons-huge.icons-rounded {
      line-height: 1.9em;
      width: 1.8em;
      height: 1.8em; }
  /* line 39, iconos.scss */
  .icons.icons-rounded {
    display: inline-block;
    text-align: center;
    background-color: #b1b3b1;
    height: 2em;
    width: 2em;
    line-height: 2.1em;
    color: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
    border: #fcfcfc 4px solid;
    -moz-box-shadow: 0 0 4px #979a97;
    -webkit-box-shadow: 0 0 4px #979a97;
    box-shadow: 0 0 4px #979a97;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
    border-radius: 60%; }

/* line 54, iconos.scss */
.icons.small {
  font-size: 18px;
  line-height: 12px;
  position: relative;
  top: 0.15em;
  margin-right: 5px; }
