/* line 3, menu.scss */
.menu, .submenu {
  padding: 0;
  margin: 0;
  list-style: none; }

/* line 9, menu.scss */
.menu {
  height: 42px; }
  /* line 11, menu.scss */
  .menu li {
    position: relative;
    display: inline-block;
    height: 42px;
    margin: 0; }
  /* line 23, menu.scss */
  .menu .dropdown-toggle:after {
    content: "";
    position: relative;
    top: -3px;
    margin-left: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.8); }
  /* line 30, menu.scss */
  .menu a {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    color: #000;
    font-size: 1.1em;
    text-decoration: none; }
    /* line 40, menu.scss */
    .menu a:hover {
      color: #4bb0da;
      border-bottom: #4bb0da 4px solid;
      -moz-box-shadow: 0 2px 0px 0px #4bb0da ;
      -webkit-box-shadow: 0 2px 0px 0px #4bb0da ;
      box-shadow: 0 2px 0px 0px #4bb0da ; }
    /* line 45, menu.scss */
    .menu a .icons {
      font-size: 18px; }
  /* line 49, menu.scss */
  .menu .submenu {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    border: 1px solid rgba(75, 176, 218, 0.5);
    margin-top: 4px;
    width: 200px;
    background-color: black;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0px 2px 0 #b1b3b1 ;
    -webkit-box-shadow: 0 0px 2px 0 #b1b3b1 ;
    box-shadow: 0 0px 2px 0 #b1b3b1 ; }
    /* line 62, menu.scss */
    .menu .submenu:after, .menu .submenu .submenu-arrow {
      content: "";
      position: absolute;
      top: -8px;
      left: 10px;
      display: inline-block;
      width: 0;
      height: 0;
      min-width: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid rgba(0, 0, 0, 0.8); }
    /* line 69, menu.scss */
    .menu .submenu li {
      float: none;
      display: block;
      height: 32px; }
      /* line 73, menu.scss */
      .menu .submenu li a {
        height: 32px;
        line-height: 32px;
        font-weight: normal;
        color: white;
        display: block;
        text-decoration: none;
        -moz-box-shadow: 0 0px 0px 0px white ;
        -webkit-box-shadow: 0 0px 0px 0px white ;
        box-shadow: 0 0px 0px 0px white ; }
        /* line 82, menu.scss */
        .menu .submenu li a:hover {
          background-color: #666;
          border: none;
          border-left: 4px solid #4bb0da;
          -moz-box-shadow: 0 0px 0px 0px white ;
          -webkit-box-shadow: 0 0px 0px 0px white ;
          box-shadow: 0 0px 0px 0px white ; }
    /* line 90, menu.scss */
    .menu .submenu.last {
      left: auto;
      right: 0px; }
      /* line 93, menu.scss */
      .menu .submenu.last .submenu-arrow {
        left: auto;
        right: 10px; }
  /* line 100, menu.scss */
  .menu.right .submenu {
    left: auto;
    right: 0; }
    /* line 103, menu.scss */
    .menu.right .submenu a:hover {
      border: none;
      border-right: 4px solid #4bb0da; }
    /* line 107, menu.scss */
    .menu.right .submenu .submenu-arrow {
      left: auto;
      right: 10px; }

/* line 115, menu.scss */
.divisor {
  display: none;
  float: left;
  height: 42px;
  border-right: #f4f4f4 solid 1px;
  border-left: #e0e0e0 solid 1px; }
  /* line 121, menu.scss */
  .divisor.float-right {
    float: right; }

/* line 127, menu.scss */
aside .menu li {
  float: none;
  display: block; }
  /* line 130, menu.scss */
  aside .menu li a {
    display: block; }

/* line 136, menu.scss */
aside nav {
  background-color: #e5e5e5;
  margin-bottom: 20px;
  padding: 5px;
  -moz-box-shadow: inset 0 1px 1px 0 #b1b3b1;
  -webkit-box-shadow: inset 0 1px 1px 0 #b1b3b1;
  box-shadow: inset 0 1px 1px 0 #b1b3b1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 142, menu.scss */
  aside nav h5 {
    padding: 5px 10px 0; }
  /* line 145, menu.scss */
  aside nav .menu {
    list-style: none;
    height: auto; }
    /* line 148, menu.scss */
    aside nav .menu li {
      display: block;
      float: none;
      height: auto; }
      /* line 153, menu.scss */
      aside nav .menu li.active > a {
        background-color: #4b4d4b;
        border-bottom: none;
        -moz-box-shadow: inset 0 0px 5px 0 #333333;
        -webkit-box-shadow: inset 0 0px 5px 0 #333333;
        box-shadow: inset 0 0px 5px 0 #333333; }
      /* line 159, menu.scss */
      aside nav .menu li a {
        text-decoration: none;
        display: block;
        padding: 5px 15px;
        height: auto;
        line-height: 1.5em;
        font-size: 13px;
        background-color: #4bb0da;
        color: white;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: 0 1px 1px 0 #b1b3b1 ;
        -webkit-box-shadow: 0 1px 1px 0 #b1b3b1 ;
        box-shadow: 0 1px 1px 0 #b1b3b1 ; }
        /* line 170, menu.scss */
        aside nav .menu li a:hover {
          background-color: #646764;
          margin-bottom: 0;
          border-bottom: none; }
        /* line 175, menu.scss */
        aside nav .menu li a.active {
          background-color: #4b4d4b;
          border-bottom: none;
          -moz-box-shadow: inset 0 0px 5px 0 #333333;
          -webkit-box-shadow: inset 0 0px 5px 0 #333333;
          box-shadow: inset 0 0px 5px 0 #333333; }
    /* line 182, menu.scss */
    aside nav .menu > li {
      border-bottom: 1px solid black;
      border-top: 1px solid #75c3e3; }

/* line 189, menu.scss */
.menu.bar-menu {
  background-color: black; }
  /* line 191, menu.scss */
  .menu.bar-menu a {
    color: #fcfcfc; }
    /* line 193, menu.scss */
    .menu.bar-menu a:hover {
      color: #4bb0da; }

@media only screen and (max-width: 720px) {
  /* line 201, menu.scss */
  .menu.menu-responsive.float-left, .menu.menu-responsive.float-right {
    background-color: #424242;
    list-style: none;
    width: 220px;
    display: block;
    float: none;
    height: auto;
    padding: 10px;
    position: fixed;
    top: 45px;
    z-index: 500;
    height: 100%; }
    /* line 345, functions.scss */
    .menu.menu-responsive.float-left.active a, .menu.menu-responsive.float-right.active a {
      background-color: #323332;
      -moz-box-shadow: inset 0 0px 5px 0 #333333;
      -webkit-box-shadow: inset 0 0px 5px 0 #333333;
      box-shadow: inset 0 0px 5px 0 #333333; }
    /* line 349, functions.scss */
    .menu.menu-responsive.float-left a, .menu.menu-responsive.float-right a {
      text-decoration: none;
      display: block;
      padding: 8px 15px;
      height: auto;
      line-height: 1.5em;
      font-size: 13px;
      background-color: #4b4d4b;
      color: white;
      border-bottom: 2px #4b4d4b solid;
      text-align: left; }
      /* line 360, functions.scss */
      .menu.menu-responsive.float-left a:hover, .menu.menu-responsive.float-right a:hover {
        background-color: #3e403e;
        border-bottom: 2px #4bb0da solid; }
      /* line 365, functions.scss */
      .menu.menu-responsive.float-left a.active, .menu.menu-responsive.float-right a.active {
        background-color: #323332;
        -moz-box-shadow: inset 0 0px 5px 0 #333333;
        -webkit-box-shadow: inset 0 0px 5px 0 #333333;
        box-shadow: inset 0 0px 5px 0 #333333; }
      /* line 369, functions.scss */
      .menu.menu-responsive.float-left a.dropdown-toggle:after, .menu.menu-responsive.float-right a.dropdown-toggle:after {
        position: absolute;
        top: 15px;
        right: 5px;
        left: auto; }
    /* line 376, functions.scss */
    .menu.menu-responsive.float-left li, .menu.menu-responsive.float-right li {
      float: none;
      display: block;
      height: auto; }
    /* line 381, functions.scss */
    .menu.menu-responsive.float-left .submenu, .menu.menu-responsive.float-right .submenu {
      position: static;
      top: auto;
      left: auto;
      width: 100%;
      border: none;
      padding: 10px 0;
      -moz-box-shadow: 0 0 0 0 black;
      -webkit-box-shadow: 0 0 0 0 black;
      box-shadow: 0 0 0 0 black;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      /* line 390, functions.scss */
      .menu.menu-responsive.float-left .submenu:after, .menu.menu-responsive.float-right .submenu:after {
        display: none; }
  /* line 208, menu.scss */
  .menu.menu-responsive.float-left {
    left: -240px;
    right: auto; }
    /* line 211, menu.scss */
    .menu.menu-responsive.float-left.active {
      left: 0px; }
  /* line 215, menu.scss */
  .menu.menu-responsive.float-right {
    left: auto;
    right: -240px; }
    /* line 218, menu.scss */
    .menu.menu-responsive.float-right.active {
      right: 0px; } }

/* line 225, menu.scss */
.menu-responsive-toggle {
  display: none;
  position: fixed;
  border: none;
  background: none;
  height: 42px;
  cursor: pointer;
  background-color: #eaeaea; }
  /* line 233, menu.scss */
  .menu-responsive-toggle.tigger-left {
    top: 0px;
    left: 0px;
    right: auto; }
  /* line 238, menu.scss */
  .menu-responsive-toggle.tigger-right {
    top: 0px;
    left: auto;
    right: 0px; }
  @media only screen and (max-width: 720px) {
    /* line 225, menu.scss */
    .menu-responsive-toggle {
      display: block; } }
