/* line 3, menu.scss */
.menu, .submenu {
  padding: 0;
  margin: 0;
  list-style: none; }

/* line 9, menu.scss */
.menu {
  height: 42px; }
  /* line 11, menu.scss */
  .menu li {
    position: relative;
    display: inline-block;
    height: 42px;
    margin: 0; }
  /* line 23, menu.scss */
  .menu .dropdown-toggle:after {
    content: "";
    position: relative;
    top: -3px;
    margin-left: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.8); }
  /* line 30, menu.scss */
  .menu a {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    color: #000;
    font-size: 1.1em;
    text-decoration: none; }
    /* line 40, menu.scss */
    .menu a:hover {
      color: #4bb0da;
      border-bottom: #4bb0da 4px solid;
      -moz-box-shadow: 0 2px 0px 0px #4bb0da ;
      -webkit-box-shadow: 0 2px 0px 0px #4bb0da ;
      box-shadow: 0 2px 0px 0px #4bb0da ; }
    /* line 45, menu.scss */
    .menu a .icons {
      font-size: 18px; }
  /* line 49, menu.scss */
  .menu .submenu {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    border: 1px solid rgba(75, 176, 218, 0.5);
    margin-top: 4px;
    width: 200px;
    background-color: black;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0px 2px 0 #b1b3b1 ;
    -webkit-box-shadow: 0 0px 2px 0 #b1b3b1 ;
    box-shadow: 0 0px 2px 0 #b1b3b1 ; }
    /* line 62, menu.scss */
    .menu .submenu:after, .menu .submenu .submenu-arrow {
      content: "";
      position: absolute;
      top: -8px;
      left: 10px;
      display: inline-block;
      width: 0;
      height: 0;
      min-width: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid rgba(0, 0, 0, 0.8); }
    /* line 69, menu.scss */
    .menu .submenu li {
      float: none;
      display: block;
      height: 32px; }
      /* line 73, menu.scss */
      .menu .submenu li a {
        height: 32px;
        line-height: 32px;
        font-weight: normal;
        color: white;
        display: block;
        text-decoration: none;
        -moz-box-shadow: 0 0px 0px 0px white ;
        -webkit-box-shadow: 0 0px 0px 0px white ;
        box-shadow: 0 0px 0px 0px white ; }
        /* line 82, menu.scss */
        .menu .submenu li a:hover {
          background-color: #666;
          border: none;
          border-left: 4px solid #4bb0da;
          -moz-box-shadow: 0 0px 0px 0px white ;
          -webkit-box-shadow: 0 0px 0px 0px white ;
          box-shadow: 0 0px 0px 0px white ; }
    /* line 90, menu.scss */
    .menu .submenu.last {
      left: auto;
      right: 0px; }
      /* line 93, menu.scss */
      .menu .submenu.last .submenu-arrow {
        left: auto;
        right: 10px; }
  /* line 100, menu.scss */
  .menu.right .submenu {
    left: auto;
    right: 0; }
    /* line 103, menu.scss */
    .menu.right .submenu a:hover {
      border: none;
      border-right: 4px solid #4bb0da; }
    /* line 107, menu.scss */
    .menu.right .submenu .submenu-arrow {
      left: auto;
      right: 10px; }

/* line 115, menu.scss */
.divisor {
  display: block;
  float: left;
  height: 42px;
  border-right: #f4f4f4 solid 1px;
  border-left: #e0e0e0 solid 1px; }

/* line 124, menu.scss */
aside .menu li {
  float: none;
  display: block; }
  /* line 127, menu.scss */
  aside .menu li a {
    display: block; }
