/* line 4, modules.scss */
.module-f {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 10, modules.scss */
  .module-f .module-f-icon {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    color: #282828;
    text-shadow: 0 -1px 0 #e0e0e0; }
  /* line 19, modules.scss */
  .module-f .module-f-text {
    float: left;
    width: 75%; }
    /* line 22, modules.scss */
    .module-f .module-f-text p {
      margin-top: 0; }
  /* line 26, modules.scss */
  .module-f .module-f-title {
    display: inline;
    color: #dd4646;
    font-size: 14px;
    margin: 0;
    font-weight: bold; }
  /* line 39, modules.scss */
  .module-f:nth-child(3n+3) {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ; }

/* line 46, modules.scss */
.module-c {
  text-align: center; }
  /* line 48, modules.scss */
  .module-c .module-c-title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4bb0da; }
  /* line 53, modules.scss */
  .module-c .module-c-icon {
    font-size: 44px;
    line-height: 104px;
    height: 100px;
    width: 100px;
    position: relative;
    background-color: #9966c8;
    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px; }
  /* line 66, modules.scss */
  .module-c .module-c-content p {
    margin-top: 0; }

/* line 92, modules.scss */
.module-t {
  margin-top: 20px;
  margin-bottom: 20px;
  *zoom: 1;
  -moz-box-shadow: 0 0 3px 0 #b1b3b1;
  -webkit-box-shadow: 0 0 3px 0 #b1b3b1;
  box-shadow: 0 0 3px 0 #b1b3b1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  /* line 49, functions.scss */
  .module-t:before, .module-t:after {
    display: table;
    content: ""; }
  /* line 53, functions.scss */
  .module-t:after {
    clear: both; }
  /* line 98, modules.scss */
  .module-t .module-t-image {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    -webkit-background-size: 100% 90px;
    -moz-background-size: 100% 90px;
    background-size: 100% 90px;
    background-color: #4b4d4b;
    background-image: -moz-linear-gradient(top, #4b4d4b 0%, #4b4d4b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b4d4b), color-stop(100%, #4b4d4b));
    background-image: -webkit-linear-gradient(top, #4b4d4b 0%, #4b4d4b 100%);
    background-image: -o-linear-gradient(top, #4b4d4b 0%, #4b4d4b 100%);
    background-image: -ms-linear-gradient(top, #4b4d4b 0%, #4b4d4b 100%);
    background-image: linear-gradient(to bottom, #4b4d4b 0%, #4b4d4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4d4b', endColorstr='#4b4d4b',GradientType=0 );
    background-color: transparent;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat; }
    /* line 107, modules.scss */
    .module-t .module-t-image.big {
      padding-top: 55px;
      -webkit-background-size: 100% 120px;
      -moz-background-size: 100% 120px;
      background-size: 100% 120px; }
  /* line 112, modules.scss */
  .module-t .module-t-detail {
    padding: 10px;
    border: rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
