/* line 4, modules.scss */
.module-f {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 10, modules.scss */
  .module-f .module-f-icon {
    float: left;
    width: 60px;
    font-size: 40px;
    margin-top: 15px;
    color: #282828;
    text-shadow: 0 -1px 0 #e0e0e0; }
  /* line 18, modules.scss */
  .module-f .module-f-text {
    float: left;
    width: 220px; }
    /* line 21, modules.scss */
    .module-f .module-f-text p {
      margin-top: 0; }
  /* line 25, modules.scss */
  .module-f .module-f-title {
    display: inline;
    color: #dd4646;
    font-size: 14px;
    margin: 0;
    font-weight: bold; }
  /* line 38, modules.scss */
  .module-f:nth-child(3n+3) {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ; }

/* line 45, modules.scss */
.module-c {
  text-align: center; }
  /* line 47, modules.scss */
  .module-c .module-c-title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4bb0da; }
  /* line 52, modules.scss */
  .module-c .module-c-icon {
    font-size: 40px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    position: relative;
    background-color: #9966c8;
    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px; }
  /* line 65, modules.scss */
  .module-c .module-c-content p {
    margin-top: 0; }
