/* line 3, notifications.scss */
.notification_zone {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 47px;
  padding-bottom: 5px; }
  /* line 10, notifications.scss */
  .notification_zone.alert {
    background-color: #dd4646;
    color: white; }
  /* line 14, notifications.scss */
  .notification_zone.notice {
    background-color: #eeba43;
    color: black; }
  /* line 18, notifications.scss */
  .notification_zone.success {
    background-color: #4bb0da;
    color: white; }
  /* line 22, notifications.scss */
  .notification_zone .close_flash {
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 25px;
    cursor: pointer; }
