/* line 4, scaffold.scss */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 13px;
  background-color: #fcfcfc;
  color: #282828; }

/* line 3, header.scss */
.fixed.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000;
  height: 42px;
  border-bottom: 1px solid #CACACA;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 );
  -moz-box-shadow: 0px 0px 1px 0px #6b6b6b ;
  -webkit-box-shadow: 0px 0px 1px 0px #6b6b6b ;
  box-shadow: 0px 0px 1px 0px #6b6b6b ; }
  /* line 13, header.scss */
  .fixed.header #logo {
    margin-top: 6px; }
  /* line 17, header.scss */
  .fixed.header #main_menu .sitename {
    margin-bottom: 0;
    font-size: 1.4em;
    line-height: 42px;
    text-shadow: 0px 1px 0 white; }
    /* line 23, header.scss */
    .fixed.header #main_menu .sitename a:link {
      color: #282828; }

/* line 31, header.scss */
#header {
  margin-top: 65px; }

/* line 35, header.scss */
.hero-unit {
  padding: 40px 0; }

/* Content */
/* ---------------------------------------------------------------- */
/* line 3, content.scss */
#content {
  position: relative; }

/* line 7, content.scss */
.over_content {
  margin-top: 30px;
  width: 100%;
  background-color: #E7E7E7;
  /*background-image: image-url("FondoOscuro.png");*/
  background: #454545;
  background: -moz-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #454545), color-stop(90%, #222222));
  background: -webkit-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: -o-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: -ms-radial-gradient(center, ellipse cover, #454545 0%, #222222 90%);
  background: radial-gradient(ellipse at center, #454545 0%, #222222 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#222222',GradientType=1 );
  color: #212121;
  box-shadow: 0 5px 0 0 #4bb0da, 0 10px 0 0 #282828; }
  /* line 23, content.scss */
  .over_content .container {
    padding-top: 40px;
    padding-bottom: 40px; }

/* line 29, content.scss */
#content {
  margin-top: 10px;
  padding: 5px 10px 40px 10px;
  background-color: white;
  padding-top: 60px;
  -moz-box-shadow: 0 0 5px 0 rgba(75, 77, 75, 0.5) ;
  -webkit-box-shadow: 0 0 5px 0 rgba(75, 77, 75, 0.5) ;
  box-shadow: 0 0 5px 0 rgba(75, 77, 75, 0.5) ; }
  /* line 38, content.scss */
  #content.contents.index {
    padding-top: 0; }

/* line 43, content.scss */
.titulo_cinta {
  background-color: #4b4d4b;
  color: white;
  padding: 10px 25px;
  position: relative;
  left: -25px;
  -moz-box-shadow: 0 4px 0 0 #4bb0da ;
  -webkit-box-shadow: 0 4px 0 0 #4bb0da ;
  box-shadow: 0 4px 0 0 #4bb0da ; }
  /* line 50, content.scss */
  .titulo_cinta:before, .titulo_cinta .arrow-cinta-left {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #b1b3b1;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1; }
  /* line 58, content.scss */
  .titulo_cinta:after, .titulo_cinta .arrow-cinta-right {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #b1b3b1;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: -1; }

/* line 68, content.scss */
.content-main-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 0px; }

/*----------------------------------------------------------------
Estilos de modulos de contenido
-----------------------------------------------------------------*/
/* line 4, modules.scss */
.module-f {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 10, modules.scss */
  .module-f .module-f-icon {
    float: left;
    width: 60px;
    font-size: 40px;
    margin-top: 15px;
    color: #282828;
    text-shadow: 0 -1px 0 #e0e0e0; }
  /* line 18, modules.scss */
  .module-f .module-f-text {
    float: left;
    width: 220px; }
    /* line 21, modules.scss */
    .module-f .module-f-text p {
      margin-top: 0; }
  /* line 25, modules.scss */
  .module-f .module-f-title {
    display: inline;
    color: #dd4646;
    font-size: 14px;
    margin: 0;
    font-weight: bold; }
  /* line 38, modules.scss */
  .module-f:nth-child(3n+3) {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) ; }

/* Footer */
/* ---------------------------------------------------------------- */
/* line 27, scaffold.scss */
#footer {
  padding: 0; }
  /* line 29, scaffold.scss */
  #footer p {
    font-size: 1em; }
  /* line 33, scaffold.scss */
  #footer .contacto p {
    margin-top: 0; }
  /* line 37, scaffold.scss */
  #footer .upperfooter {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    margin-top: -5px;
    min-height: 160px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: inset 0 -1px 0 white;
    background-color: white; }
    /* line 49, scaffold.scss */
    #footer .upperfooter ul li {
      margin-bottom: 5px; }
      /* line 51, scaffold.scss */
      #footer .upperfooter ul li a {
        font-size: 0.9em;
        text-decoration: none; }
    /* line 57, scaffold.scss */
    #footer .upperfooter .twtr-hd {
      display: none; }
    /* line 60, scaffold.scss */
    #footer .upperfooter .twtr-ft {
      display: none; }
    /* line 63, scaffold.scss */
    #footer .upperfooter .twtr-tweet-wrap {
      padding: 10px 0 0 0; }
    /* line 66, scaffold.scss */
    #footer .upperfooter .twtr-tweet-text {
      padding-bottom: 10px; }
    /* line 69, scaffold.scss */
    #footer .upperfooter .twtr-bd {
      font-family: "Ubuntu", sans-serif; }
      /* line 71, scaffold.scss */
      #footer .upperfooter .twtr-bd a {
        font-family: "Ubuntu", sans-serif; }
  /* line 76, scaffold.scss */
  #footer .downfooter {
    padding: 10px 0;
    font-size: 0.9em;
    color: #646764; }
  /* line 81, scaffold.scss */
  #footer .color-row li {
    margin-left: 0 !important;
    float: left;
    position: relative;
    list-style-type: none;
    width: 50px;
    height: 10px;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1; }
  /* line 93, scaffold.scss */
  #footer .logofooter {
    width: 180px;
    margin-top: 40px;
    margin-left: 45px; }
    /* line 97, scaffold.scss */
    #footer .logofooter img {
      width: 120px; }
