
@import "./includes/functions";

// Estilos para resoluciones mayores a 1440px
@media #{$large-pc} {
	// Vars definition
	$column_width : 90px;
	$column_gutter: 30px;
	@include column-system-create($column_width , $column_number, $column_gutter);
}

// Estilos para resoluciones mayores a 1200px
@media #{$medium-pc} {
	// Vars definition
	$column_width : 70px;
	$column_gutter: 30px;
	@include column-system-create($column_width , $column_number, $column_gutter);
}

// Estilos para resoluciones mayores a 720px
@media #{$tablet-portrait} {
	// Vars definition
	$column_width : 50px;
	$column_gutter: 10px;
	@include column-system-create($column_width , $column_number, $column_gutter);
	@include headlines-create($text_proportion, 0.6em);
	.btn {
		font-size: $font_base - 4px;
		&.btn-h {
			font-size: 1.1em;
		}
	}
}

// Estilos para resoluciones menores a 720px
@media #{$phone} {
	// Vars definition
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6,
	.grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.row { margin-left: 0px; }
	.container { min-width: 320px; width: 94% }
	
	.grid1  { width: 100%;   }
	.grid2  { width: 100%;  }
	.grid3  { width: 100%;  }
	.grid4  { width: 100%;  }
	.grid5  { width: 100%;  }
	.grid6  { width: 100%;  }
	.grid7  { width: 100%;  }
	.grid8  { width: 100%;  }
	.grid9  { width: 100%;  }
	.grid10 { width: 100%;  }
	.grid11 { width: 100%;  }
	.grid12 { width: 100%;  }
	@include headlines-create($text_proportion, 0.7em);
}

