<div class="row">
  <div class="grid12">

    <section id="author">
      <header>
        <h1 class="center">Acerca del Autor</h1>
      </header>
      <div class="author-content center text-big">
        <p>
          Sergio Marin, CEO de la Escuela de diseno web. Una persona de mente inquieta y curioso que en su busqueda de mejorar la plataforma de
          <a href="http://escuelaweb.net">@escuelawebve</a>
          , a creado una serie de herramientas que son utilizadas a lo largo de la plataforma.
        </p>
        <img class="img-rounded" src="images/foto-highercomve.jpg" alt="">
      </div>
    </section>
  </div>
</div>