.row
  .grid12
    %section#author
      %header
        %h1.center Acerca del Autor
      .author-content.center.text-big
        %p
          Sergio Marin, CEO de la Escuela de diseno web. Una persona de mente inquieta y curioso que en su busqueda de mejorar la plataforma de
          %a{:href => "http://escuelaweb.net"} @escuelawebve
          , a creado una serie de herramientas que son utilizadas a lo largo de la plataforma.    
        %img.img-rounded{:alt => "", :src => "images/foto-highercomve.jpg"}/
    %section#escuelaweb.mt40
      %header 
        %h1.center Acerca Escuela Web
      .escuelaweb-content.text-big.center
        %p
          Escuelaweb es una plataforma de educacion en linea, en la cual se busca impartir conocimientos en el area del diseno y desarrollo web, haciendo usos de videos, lecturas, clases en linea, examenes de compresion y seguimiento del instructor y la propia comunidad.
