<section id="buttons" class="grid12">
  <header>
    <h1 class="titulo-cinta">
      Botones
    </h1>
  </header>
  <div class="row">
    <section class="grid4">
      <header>
        <h4>Tipos de Botones</h4>
      </header>
      <div class="mt10">
        <a href="#" class="btn">Boton normal</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-accept">Boton de accept</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-action">Boton de actions</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-error">Boton de error</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-warning">Boton de warning</a>
      </div>
    </section>

    <section class="grid4">
      <header>
        <h4>Variaciones de Tamano</h4>
      </header>
      <div class="mt10">
        <a href="#" class="btn btn-p">Boton pequeno</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn">Boton normal</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-m">Boton medium</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g">Boton Grande</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g anchor">Boton Grande</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn anchor center">Boton full width</a>
      </div>
    </section>

    <section class="grid4">
      <header>
        <h4>Botones con Iconos</h4>
      </header>
      <div class="mt10">
        <a href="#" class="btn btn-wicon">
          Boton con Icono a la derecha
          <span class="btn-wicon-icon icons">&#x5b;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-m btn-wicon">
          Boton medium
          <span class="btn-wicon-icon icons">&#x27;</span>
        </a>

      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g btn-wicon btn-rojo">
          Boton Grande
          <span class="btn-wicon-icon icons btn-wicon-left">&#x61;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-wicon btn-morado btn-wicon-left">
          Boton con icono a la izquierda
          <span class="btn-wicon-icon icons">&#x61;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-m btn-wicon btn-morado btn-wicon-left">
          icono a la izquierda
          <span class="btn-wicon-icon icons">&#x61;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g btn-wicon btn-morado btn-wicon-left">
          icono a la izquierda
          <span class="btn-wicon-icon icons">&#x61;</span>
        </a>
      </div>
    </section>

  </div>
</section>