<section id="buttons" class="grid12">
  <header>
    <h1 class="titulo-cinta">
      Botones
    </h1>
  </header>
  <div class="row">
    <section class="grid4">
      <header>
        <h4>Tipos de Botones</h4>
      </header>
      <div class="mt10">
        <a href="#" class="btn">Boton normal</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-accept">Boton de accept</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-action">Boton de actions</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-error">Boton de error</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-warning">Boton de warning</a>
      </div>
    </section>

    <section class="grid4">
      <header>
        <h4>Variaciones de Tamano</h4>
      </header>
      <div class="mt10">
        <a href="#" class="btn btn-p">Boton pequeno</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn">Boton normal</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-m">Boton medium</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g">Boton Grande</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g anchor">Boton Grande</a>
      </div>
      <div class="mt10">
        <a href="#" class="btn anchor center">Boton full width</a>
      </div>
    </section>

    <section class="grid4">
      <header>
        <h4>Botones con Iconos</h4>
      </header>
      <div class="mt10">
        <a href="#" class="btn btn-wicon">
          Boton con Icono a la derecha
          <span class="btn-wicon-icon icons">&#x5b;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-m btn-wicon">
          Boton medium
          <span class="btn-wicon-icon icons">&#x27;</span>
        </a>

      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g btn-wicon btn-rojo">
          Boton Grande
          <span class="btn-wicon-icon icons btn-wicon-left">&#x61;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-wicon btn-morado btn-wicon-left">
          Boton con icono a la izquierda
          <span class="btn-wicon-icon icons">&#x61;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-m btn-wicon btn-morado btn-wicon-left">
          icono a la izquierda
          <span class="btn-wicon-icon icons">&#x61;</span>
        </a>
      </div>
      <div class="mt10">
        <a href="#" class="btn btn-g btn-wicon btn-morado btn-wicon-left">
          icono a la izquierda
          <span class="btn-wicon-icon icons">&#x61;</span>
        </a>
      </div>
    </section>
  </div><!-- .row -->

  <div class="row">
    <h4 class="grid12 mt40">Botones de Redes Sociales</h4>
    <div class="mt10 grid3">
      <a target="_blank" href="https://plus.google.com/communities/102543297891868589254" class="btn btn-wicon btn-google btn-wicon-left anchor">
        Google
        <span class="btn-wicon-icon icons">.</span>
      </a>
    </div>
    <div class="mt10 grid3">
      <a target="_blank" href="http://www.twitter.com/escuelawebve" class="btn btn-wicon btn-twitter btn-wicon-left anchor">
        Twitter
        <span class="btn-wicon-icon icons">4</span>
      </a>
    </div>
    <div class="mt10 grid3">
      <a target="_blank" href="http://www.facebook.com/escuelaweb" class="btn btn-wicon btn-facebook btn-wicon-left anchor">
        Facebook
        <span class="btn-wicon-icon icons">7</span>
      </a>
    </div>
    <div class="mt10 grid3">
      <a target="_blank" href="https://www.github.com/escuelaweb" class="btn btn-wicon btn-github btn-wicon-left anchor">
        Github
        <span class="btn-wicon-icon icons">p</span>
      </a>
    </div>
  </div>

  <div class="row mt40">
    <div class="grid4">
      <h4>¿Como usar los botones?</h4>
      <p>
        Octagon cuenta con un sistema ed botones donde tenemos variaciones de colores, tamaños y inclusion de iconos dentro del boton.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ex amet minus ullam asperiores! Dolorem minima quam officiis mollitia rerum! Repellendus, odio illo vitae explicabo illum ipsam itaque modi ea!
      </p>
    </div>
    <div class="grid8">
      <%= partial "examples/buttons" %>
    </div>
  </div><!-- .row -->
</section>
