%section#fomularios.grid12
  %header
    %h1.ribbon-title
      Estilos para Formularios
  .row.mt60
    .grid4
      %form
        .field
          %label Campo de input
          %input{ :type => "text", :name => "texto" }
  
