<div class="fixed header">
    <div id="main_menu" class="container">
      <div class="row">
        <div id="logo" class="grid3">
          <a class="site-name" href="/index.html">
            <span class="icon left">
              <%= image_tag("logo2.png", :height =>"28", :alt => "Logo Escuela de Diseño Web") %>
            </span>
          </a>
        </div>
        <div class="grid9">
          <div class="divisor"></div>
          <ul class="menu scroller left">
            <li>
              <a href="#" class="dropdown-toggle">Modulos</a>
              <ul class="submenu">
                <li><a href="#caracteristicas">Modulo de Caracteristicas</a></li>
                <li><a href="#modulos-t">Modulos de Thumbnail</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle">Caracteristicas</a>
              <ul class="submenu">
                <li><a href="#sistema-de-columnas">Columnas</a></li>
                <li><a href="#buttons">Botones</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle">Enlaces</a>
              <ul class="submenu dropdown-menu">
                <li><a href="#">subenlace</a></li>
                <li><a href="#">subenlace</a></li>
                <li><a href="#">subenlace</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu scroller right">
            <li>
              <a href="#">Enlaces 1</a>
            </li>
            <li>
              <a href="#">Enlaces 1</a>
            </li>
          </ul>
          <div class="divisor right"></div>
        </div>
      </div>
    </div>
  </div>