.fixed.header
  #main_menu.container
    .row
      #logo.grid3
        %a.site-name{:href => "index.html"}
          %span.icon.left
            = image_tag("logo2.png", :height =>"28", :alt => "Logo Escuela de Diseño Web")
      .grid9
        .divisor
        %ul.menu.scroller.float-left
          %li
            %a.dropdown-toggle{:href => "#"} Modulos
            %ul.submenu
              %li
                %a{:href => "#caracteristicas"} Modulo de Caracteristicas
              %li
                %a{:href => "#modulos-t"} Modulos de Thumbnail
          %li
            %a.dropdown-toggle{:href => "#"} Caracteristicas
            %ul.submenu
              %li
                %a{:href => "#sistema-de-columnas"} Columnas
              %li
                %a{:href => "#buttons"} Botones
              %li
                %a{:href => "#iconos"} Iconos
              %li
                %a{:href => "#texto"} Textos
          %li
            %a.dropdown-toggle{:href => "#"} Enlaces
            %ul.submenu.dropdown-menu
              %li
                %a{:href => "#"} subenlace
              %li
                %a{:href => "#"} subenlace
              %li
                %a{:href => "#"} subenlace
        %ul.menu.scroller.float-right
          %li
            %a{:href => "#"} Enlaces 1
          %li
            %a{:href => "#"} Enlaces 1
        .divisor.float-right
