<div class="fixed header">
    <div id="main_menu" class="container">
      <div class="row">
        <div id="logo" class="grid3">
          <a class="site-name" href="/index.html#main_menu">
            <span class="icon left">
              <%= image_tag("logo2.png", :height =>"28", :alt => "Logo Escuela de Diseño Web") %>
            </span>
          </a>
        </div>
        <div class="grid7">
          <div class="divisor"></div>
          <ul class="menu scroller">
            <li><a href="#content">Caracteristicas</a></li>
            <li>
              <a href="#" class="dropdown-toggle">Enlaces</a>
              <ul class="submenu dropdown-menu">
                <li><a href="#">subenlace</a></li>
                <li><a href="#">subenlace</a></li>
                <li><a href="#">subenlace</a></li>
              </ul>
            </li>
            <li><a href="#">Enlaces</a></li>
          </ul>
        </div>
        <div class="grid2 right">
          <div class="divisor"></div>
          <ul class="menu scroller">
            <li>
              <a href="#">Enlaces 1</a>
            </li>
            <li>
              <a href="#">Enlaces 1</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>