%section#iconos.grid12
  %header
    %h1.titulo_cinta Estilo para iconos
  .row
    .grid12
      %h2.center.mt20.mb40 Juegos de iconos completo, todos los iconos son utilizados con la propiedad @font-face por lo que son una fuente vectorizada
    .grid1.center.mt10.mb10
      .icons.icons-huge &
    .grid1.center.mt10.mb10
      .icons.icons-huge 2
    .grid1.center.mt10.mb10
      .icons.icons-huge 3
    .grid1.center.mt10.mb10
      .icons.icons-huge ?
    .grid1.center.mt10.mb10
      .icons.icons-huge D
    .grid1.center.mt10.mb10
      .icons.icons-huge I
    .grid1.center.mt10.mb10
      .icons.icons-huge L
    .grid1.center.mt10.mb10
      .icons.icons-huge M
    .grid1.center.mt10.mb10
      .icons.icons-huge R
    .grid1.center.mt10.mb10
      .icons.icons-huge S
    .grid1.center.mt10.mb10
      .icons.icons-huge T
    .grid1.center.mt10.mb10
      .icons.icons-huge V
    .grid1.center.mt10.mb10
      .icons.icons-huge X
    .grid1.center.mt10.mb10
      .icons.icons-huge X
    .grid1.center.mt10.mb10
      .icons.icons-huge s
    .grid1.center.mt10.mb10
      .icons.icons-huge #
    .grid1.center.mt10.mb10
      .icons.icons-huge $
    .grid1.center.mt10.mb10
      .icons.icons-huge 0
    .grid1.center.mt10.mb10
      .icons.icons-huge 1
    .grid1.center.mt10.mb10
      .icons.icons-huge 6
    .grid1.center.mt10.mb10
      .icons.icons-huge -
    .grid1.center.mt10.mb10
      .icons.icons-huge &lt;
    .grid1.center.mt10.mb10
      .icons.icons-huge =
    .grid1.center.mt10.mb10
      .icons.icons-huge >
    .grid1.center.mt10.mb10
      .icons.icons-huge B
    .grid1.center.mt10.mb10
      .icons.icons-huge E
    .grid1.center.mt10.mb10
      .icons.icons-huge O
    .grid1.center.mt10.mb10
      .icons.icons-huge P
    .grid1.center.mt10.mb10
      .icons.icons-huge U
    .grid1.center.mt10.mb10
      .icons.icons-huge @
    .grid1.center.mt10.mb10
      .icons.icons-huge 5
    .grid1.center.mt10.mb10
      .icons.icons-huge !
    .grid1.center.mt10.mb10
      .icons.icons-huge '
    .grid1.center.mt10.mb10
      .icons.icons-huge (
    .grid1.center.mt10.mb10
      .icons.icons-huge )
    .grid1.center.mt10.mb10
      .icons.icons-huge *
    .grid1.center.mt10.mb10
      .icons.icons-huge ,
    .grid1.center.mt10.mb10
      .icons.icons-huge "
    .grid1.center.mt10.mb10
      .icons.icons-huge +
    .grid1.center.mt10.mb10
      .icons.icons-huge /
    .grid1.center.mt10.mb10
      .icons.icons-huge 9
    .grid1.center.mt10.mb10
      .icons.icons-huge :
    .grid1.center.mt10.mb10
      .icons.icons-huge ;
    .grid1.center.mt10.mb10
      .icons.icons-huge A
    .grid1.center.mt10.mb10
      .icons.icons-huge C
    .grid1.center.mt10.mb10
      .icons.icons-huge F
    .grid1.center.mt10.mb10
      .icons.icons-huge G
    .grid1.center.mt10.mb10
      .icons.icons-huge %
    .grid1.center.mt10.mb10
      .icons.icons-huge J
    .grid1.center.mt10.mb10
      .icons.icons-huge K
    .grid1.center.mt10.mb10
      .icons.icons-huge N
    .grid1.center.mt10.mb10
      .icons.icons-huge W
    .grid1.center.mt10.mb10
      .icons.icons-huge Y
    .grid1.center.mt10.mb10
      .icons.icons-huge [
    .grid1.center.mt10.mb10
      .icons.icons-huge \
    .grid1.center.mt10.mb10
      .icons.icons-huge ]
    .grid1.center.mt10.mb10
      .icons.icons-huge a
    .grid1.center.mt10.mb10
      .icons.icons-huge b
    .grid1.center.mt10.mb10
      .icons.icons-huge c
    .grid1.center.mt10.mb10
      .icons.icons-huge f
    .grid1.center.mt10.mb10
      .icons.icons-huge g
    .grid1.center.mt10.mb10
      .icons.icons-huge h
    .grid1.center.mt10.mb10
      .icons.icons-huge i
    .grid1.center.mt10.mb10
      .icons.icons-huge k
    .grid1.center.mt10.mb10
      .icons.icons-huge 1
    .grid1.center.mt10.mb10
      .icons.icons-huge o
    .grid1.center.mt10.mb10
      .icons.icons-huge `
    .grid1.center.mt10.mb10
      .icons.icons-huge d
    .grid1.center.mt10.mb10
      .icons.icons-huge e
    .grid1.center.mt10.mb10
      .icons.icons-huge j
    .grid1.center.mt10.mb10
      .icons.icons-huge p
    .grid1.center.mt10.mb10
      .icons.icons-huge r
    .grid1.center.mt10.mb10
      .icons.icons-huge z
    .grid1.center.mt10.mb10
      .icons.icons-huge .
    .grid1.center.mt10.mb10
      .icons.icons-huge 4
    .grid1.center.mt10.mb10
      .icons.icons-huge 7
    .grid1.center.mt10.mb10
      .icons.icons-huge 8
    .grid1.center.mt10.mb10
      .icons.icons-huge Q
    .grid1.center.mt10.mb10
      .icons.icons-huge Z
    .grid1.center.mt10.mb10
      .icons.icons-huge ^
    .grid1.center.mt10.mb10
      .icons.icons-huge _
    .grid1.center.mt10.mb10
      .icons.icons-huge n
    .grid1.center.mt10.mb10
      .icons.icons-huge m
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-huge 

  .row
    .grid12.mt40
      %h3
        Variaciones de tamano de los iconos
    .grid1.center.mt10.mb10
      .icons.icons-small 
    .grid1.center.mt10.mb10
      .icons.icons-medium 
    .grid1.center.mt10.mb10
      .icons.icons-big 
    .grid1.center.mt10.mb10
      .icons.icons-huge 
    .grid1.center.mt10.mb10
      .icons.icons-small.icons-rounded &#x5f;
    .grid1.center.mt10.mb10
      .icons.icons-medium.icons-rounded &#x62;
    .grid1.center.mt10.mb10
      .icons.icons-big.icons-rounded &#xe001;
    .grid1.center.mt10.mb10
      .icons.icons-huge.icons-rounded &#xe003;
  .row.mt40
    %section#icons-examples-text.grid4
      %h3
        Lorem ipsum dolor sit amet, consectetur adipisicing
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, delectus commodi aperiam laborum nisi obcaecati nesciunt quibusdam vero quam perferendis. Velit, maxime voluptates fuga nemo sunt architecto commodi numquam optio.
    %section#icons-examples.grid8
      = partial "examples/icons"
  .row.mt40
    .grid6.offset3
      %a.btn.btn-h.btn-wicon.anchor.center{:href => "iconos.html"}
        Detalle sobre los caracteres para cada icono
        %span.btn-wicon-icon.icons ]
