
<section id="iconos" class="grid12">
  <header>
    <h1 class="titulo_cinta">Estilo para iconos</h1>
  </header>
  <div class="row">
    <div class="grid12">
      <h2 class="center mt20 mb40">Juegos de iconos completo, todos los iconos son utilizados con la propiedad @font-face por lo que son una fuente vectorizada</h2>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">2</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">3</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">?</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">D</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">I</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">L</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">M</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">R</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">S</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">T</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">V</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">X</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">X</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">s</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">#</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">$</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">0</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">1</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">6</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">-</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&lt;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">=</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">></div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">B</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">E</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">O</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">P</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">U</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">@</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">5</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">!</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">'</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">(</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">)</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">*</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">,</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">"</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">+</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">/</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">9</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">:</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">A</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">C</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">F</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">G</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">%</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">J</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">K</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">N</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">W</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">Y</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">[</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">\</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">]</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">a</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">b</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">c</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">f</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">g</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">h</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">i</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">k</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">1</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">o</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">`</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">d</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">e</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">j</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">p</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">r</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">z</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">.</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">4</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">7</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">8</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">Q</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">Z</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">^</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">_</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">n</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">m</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xf04a;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xf013;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xf099;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xf2ba;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xf288;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe000;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe001;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe002;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe003;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe004;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe005;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe006;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe007;</div>
    </div>
  </div>
  <div class="row">
    <div class="grid12 mt40">
      <h3>
        Variaciones de tamano de los iconos
      </h3>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-small">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-medium">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-big">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-small icons-rounded">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-medium icons-rounded">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-big icons-rounded">&#xe007;</div>
    </div>
    <div class="grid1 center mt20 mb20">
      <div class="icons icons-huge icons-rounded">&#xe007;</div>
    </div>
  </div> 
  <div class="row">
    <div class="grid6 offset3">
      <a href="iconos.html" class="btn btn-h btn-wicon anchor center">
        Detalle sobre los caracteres para cada icono
        <span class="btn-wicon-icon icons">]</span>
      </a>
    </div>
  </div>
</section>