<section id="caracteristicas" class="grid12">
  <header>
    <h1 class="content-main-title">
      Caracteristicas de Octagon framework
    </h1>
  </header>
  <div class="row">
    <article class="module-f grid4">
      <aside class="module-f-icon icons left"> &#x4e; </aside>
      <div class="module-f-text">
        <header>
          <h3 class="module-f-title">Module Title Lorem ipsum dolor</h3>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptas suscipit eos ex iusto ducimus odio quam? Veniam, magni, voluptate, ab, eligendi quo laboriosam rerum in porro et beatae a.</p>
      </div>
    </article>
    <article class="module-f grid4">
      <aside class="module-f-icon icons left"> &#x23; </aside>
      <div class="module-f-text">
        <header>
          <h3 class="module-f-title">Module Title Lorem ipsum dolor</h3>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quas, ad, ratione, aut et eum dolores assumenda numquam fugit ab repellendus officiis rem cumque aliquid architecto voluptates minus molestias ipsum!</p>
      </div>
    </article>
    <article class="module-f grid4">
      <aside class="module-f-icon icons left"> &#x72; </aside>
      <div class="module-f-text">
        <header>
          <h3 class="module-f-title">Module Title Lorem ipsum dolor</h3>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, earum, eligendi veritatis consequuntur saepe a deleniti quae rem esse voluptate facere provident cum assumenda natus qui ipsa iusto aliquid doloremque.</p>
      </div>
    </article>
  </div>
  <!-- <div class="row">
    <article class="module-f grid4">
      <aside class="module-f-icon icons left"> e </aside>
      <div class="module-f-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptas suscipit eos ex iusto ducimus odio quam? Veniam, magni, voluptate, ab, eligendi quo laboriosam rerum in porro et beatae a.</p>
      </div>
    </article>
    <article class="module-f grid4">
      <aside class="module-f-icon icons left"> o </aside>
      <div class="module-f-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quas, ad, ratione, aut et eum dolores assumenda numquam fugit ab repellendus officiis rem cumque aliquid architecto voluptates minus molestias ipsum!</p>
      </div>
    </article>
    <article class="module-f grid4">
      <aside class="module-f-icon icons left"> " </aside>
      <div class="module-f-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, earum, eligendi veritatis consequuntur saepe a deleniti quae rem esse voluptate facere provident cum assumenda natus qui ipsa iusto aliquid doloremque.</p>
      </div>
    </article>
  </div> -->
</section>