<div class="row">
  <article class="module-c grid4">
    <header>
      <div class="module-c-icon icons">&#x26;</div>
      <h3 class="module-c-title">Titulo del modulo</h3>
    </header>
    <div class="module-c-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, blanditiis maiores porro maxime modi voluptates harum ex ad illum ut. Tenetur, nulla labore consequuntur tempore voluptates cumque cupiditate tempora aperiam.</p>
    </div>
  </article>
  <article class="module-c grid4">
    <header>
      <div class="module-c-icon icons">&#x32;</div>
      <h3 class="module-c-title">Titulo del modulo</h3>
    </header>
    <div class="module-c-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, blanditiis maiores porro maxime modi voluptates harum ex ad illum ut. Tenetur, nulla labore consequuntur tempore voluptates cumque cupiditate tempora aperiam.</p>
    </div>
  </article>
  <article class="module-c grid4">
    <header>
      <div class="module-c-icon icons">&#x52;</div>
      <h3 class="module-c-title">Titulo del modulo</h3>
    </header>
    <div class="module-c-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, blanditiis maiores porro maxime modi voluptates harum ex ad illum ut. Tenetur, nulla labore consequuntur tempore voluptates cumque cupiditate tempora aperiam.</p>
    </div>
  </article>
</div>