
<% content_for :over_content do %>

<div class="hero-unit mb30">
  <h1 class="center slogan">
    Octagon Escuelaweb, el framework CSS
  </h1>
  <h3 class="center slogan subtitle">
    Manuales de estilos de EscuelaWeb, realizado como un framework css como Twitter bootstrap o Zurb foundation mas no busca competir con ninguno de ellos.
  </h3>
</div>

<%= partial "partials/module-c" %>

<div class="row mt40">
  <div class="grid4 offset2">
    <a target="_blank" href="https://github.com/escuelaweb/octagon-css" class="btn btn-h anchor btn-gris btn-wicon">
      Repositorio Github
      <span class="btn-wicon-icon icons">
        &#x70;
      </span>
    </a>
  </div>
  <div class="grid4">
    <a target="_blank" href="https://github.com/escuelaweb/octagon-css/archive/develop.zip" class="btn btn-h anchor btn-wicon">
      Descargar v0.1
      <span class="btn-wicon-icon icons">
        &#x5b;
      </span>
    </a>
  </div>
</div>

<% end %>