- content_for :over_content do
  .hero-unit.mb30
    %h1.center.slogan
      Octagon Escuelaweb, el framework CSS
    %h3.center.slogan.subtitle
      Framework de estilos creados para la plataforma de EscuelaWeb, un framework css como Twitter bootstrap o Zurb foundation que no busca competir con ninguno de ellos.
  = partial "partials/module-c"
  .row.mt40
    .grid4.offset2
      %a.btn.btn-h.anchor.btn-github.btn-wicon{:href => "https://github.com/escuelaweb/octagon-css", :target => "_blank"}
        Repositorio Github
        %span.btn-wicon-icon.icons
          p
    .grid4
      %a.btn.btn-h.anchor.btn-wicon{:href => "https://github.com/escuelaweb/octagon-css/archive/v0.1.2.zip", :target => "_blank"}
        Descargar
        %span.btn-wicon-icon.icons
          [
