
<% content_for :over_content do %>

<div class="hero-unit">
  <h1 class="center slogan">
    Octagon Escuelaweb, el framework CSS
  </h1>
  <h3 class="center slogan subtitle">
    Manuales de estilos de EscuelaWeb, realizado como un framework css como Twitter bootstrap o Zurb foundation mas no busca competir con ninguno de ellos.
  </h3>
</div>

<% end %>