%section#texto.grid12
  %header
    %h1.ribbon-title Estilos generales de parrafos y titulos
  .row.mt20
    .grid3   
      %h4 Lista desordenada
      %ul 
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
    .grid3
      %h4 Lista ordenada
      %ol 
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
    .grid3 
      %h4 Lista sin bullet
      %ul.unstyled 
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista
        %li Elemento de la lista 
    .grid3
      %h4.mtb40 Textos
      %ul.unstyled 
        %li 
          %a{:href => "#"} Enlaces
        %li 
          %b Negritas
        %li 
          %i Italic
        %li 
          %u Subrayado  
  .row.mt20
    .grid4
      %h4.mtb40 Titulos
      %ul.unstyled 
        %li 
          %h1 Headline 1
        %li 
          %h2 Headline 2
        %li 
          %h3 Headline 3
        %li 
          %h4 Headline 4
        %li 
          %h5 Headline 5
        %li 
          %h6 Headline 6
    .grid8
      %h4.mtb40 Alineaciones
      .row 
        .grid4 
          %h5.right.mb0 A la derecha (.right)
          %p.right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, totam, tempora natus incidunt rerum quia eius vero ex nobis quis mollitia quo sunt accusamus odit laboriosam officia sit possimus!
          %h5.left.mb0 A la izquierda (.left)
          %p.left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, totam, tempora natus incidunt rerum quia eius vero ex nobis quis mollitia quo sunt accusamus odit laboriosam officia sit possimus!
        .grid4 
          %h5.center.mb0 Centrado (.center)
          %p.center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, totam, tempora natus incidunt rerum quia eius vero ex nobis quis mollitia quo sunt accusamus odit laboriosam officia sit possimus!
          %h5.mb0 Justificado (.justify)
          %p.justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, totam, tempora natus incidunt rerum quia eius vero ex nobis quis mollitia quo sunt accusamus odit laboriosam officia sit possimus!
  .row 
    .grid6 
      %h4.ribbon-title.ribbon-left Titulo con cinta a la izquierda (.span6)
    .grid6 
      %h4.ribbon-title.ribbon-right.verde Titulo con cinta a la derecha (.span6)
    .grid9.offset3
      %h4.ribbon-title.ribbon-right.morado Titulo con cinta a la derecha (.span9)
    .grid9
      %h4.ribbon-title.ribbon-left.naranja Titulo con cinta a la izquierda (.span9)
    .grid9.offset3
      %h4.ribbon-title.ribbon-right.ribbon-wicon.naranja
        %span.ribbon-icon 
          = image_tag "badgets/design.png"
        %span.ribbon-text Titulo con cinta a la derecha con icono 
    .grid9.offset3
      %h1.ribbon-title.ribbon-right.ribbon-wicon.ribbon-wicon-big.naranja
        %span.ribbon-icon
          = image_tag "badgets/design.png"
        %span.ribbon-text Titulo con cinta a la derecha con icono
    .grid9
      %h1.ribbon-title.ribbon-left.ribbon-wicon.ribbon-wicon-big.naranja
        %span.ribbon-icon
          = image_tag "badgets/design.png"
        %span.ribbon-text Titulo con cinta a la derecha con icono 
    .grid9.offset3
      %h1.ribbon-title.ribbon-right.ribbon-wicon.ribbon-wicon-big.naranja
        %span.ribbon-icon.icons L
        %span.ribbon-text Titulo con cinta a la derecha con icono 
    .grid9
      %h1.ribbon-title.ribbon-left.ribbon-wicon.ribbon-wicon-big.morado
        %span.ribbon-icon.icons.icons-octagon L
        %span.ribbon-text Titulo con cinta a la derecha con icono 
    .grid9
      %h4.ribbon-title.ribbon-left.ribbon-wicon.morado
        %span.ribbon-icon.icons.icons-octagon L
        %span.ribbon-text Titulo con cinta a la derecha con icono 
    .grid5
      %h4.ribbon-title.ribbon-left.ribbon-wicon.morado
        %span.ribbon-icon.icons.icons-octagon L
        %span.ribbon-text Titulo con cinta a la derecha con icono
    .grid5.offset2
      %h4.ribbon-title.ribbon-right.ribbon-wicon.morado.light
        %span.ribbon-icon.icons.icons-octagon L
        %span.ribbon-text Titulo con cinta a la derecha con icono 
  
  .row.mt40
    %hr.grid12  
    .grid12.mt40
      = partial "examples/text"