<section id="modulos-t" class="grid12">
  <header>
    <h2 class="titulo-cinta">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </h2>
  </header>
  <div class="row">
    <article class="module-t grid6">
      <div class="module-t-image">
        <%= image_tag "badgets/design_big.png" %>
      </div>
      <div class="module-t-detail">
        <header>
          <h2 class="module-t-title">
            Nivel Basico
          </h2>
        </header>
        <div class="module-t-excerpt">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?</p>
        </div>
      </div>
    </article>
    <article class="module-t grid6">
      <div class="module-t-image">
        <%= image_tag "badgets/design_big.png" %>
      </div>
      <div class="module-t-detail">
        <header>
          <h2 class="module-t-title">
            Nivel Basico
          </h2>
        </header>
        <div class="module-t-excerpt">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?</p>
        </div>
      </div>
    </article>
    <article class="module-t grid6">
      <div class="module-t-image">
        <%= image_tag "badgets/design_big.png" %>
      </div>
      <div class="module-t-detail">
        <header>
          <h2 class="module-t-title">
            Nivel Basico
          </h2>
        </header>
        <div class="module-t-excerpt">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?</p>
        </div>
      </div>
    </article>
    <article class="module-t grid6">
      <div class="module-t-image">
        <%= image_tag "badgets/design_big.png" %>
      </div>
      <div class="module-t-detail">
        <header>
          <h2 class="module-t-title">
            Nivel Basico
          </h2>
        </header>
        <div class="module-t-excerpt">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, delectus, rerum, fugiat, exercitationem consequuntur pariatur numquam repellat veritatis quos omnis obcaecati facilis quisquam illo quis voluptas expedita voluptatibus animi tempora?</p>
        </div>
      </div>
    </article>
  </div>
</section>