@import "functions";

.btn {
  @include boton();
  &:hover {
    color: $white;
    background-color: darken($azul,15%);
  }
  &.anchor {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
// Variaciones de color
.btn {
  &.btn-morado, &.btn-action {
    @include boton-hover($morado);
  }
  &.btn-verde, &.btn-accept {
    @include boton-hover(darken($verde,15%));
  }
  &.btn-naranja, &.btn-warning {
    @include boton-hover(darken($naranja, 10%), 5%);
  }
  &.btn-rojo, &.btn-error {
    @include boton-hover($rojo);
  }
  &.btn-white {
    color: $gris_oscuro;
    @include boton-hover($white);
  }
  &.btn-gris {
    color: #212121;
    @include boton-hover($gris_boton);
  }
  &.btn-gris-oscuro {
    @include boton-hover($gris_claro);
  }
  &.btn-google {
    @include boton-hover($google_color, 5%);
  }
  &.btn-github {
    color: $gris_oscuro;
    @include boton-hover($gris_boton, 5%);
  }
  &.btn-facebook {
    @include boton-hover($facebook_color);
  }
  &.btn-twitter {
    @include boton-hover($twitter_color);
  }
}
// Variaciones de Tamano 
.btn {
  &.btn-p {
    font-size: 0.8em;
    &.btn-wicon { }
  }
  &.btn-m {
    font-size: 1.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.1em;
        right: 0.6em;
        line-height: 2.1em;
      }
      &:after { 
        right: 2.3em
      }
      &.btn-wicon-left {
        .btn-wicon-icon {
          left: 0.55em;
        }
        &:after { 
          left: 2.2em
        }
      }
    }
  }
  &.btn-g {
    font-size: 1.3em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 1em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.3em;
        right: 0.5em;
        line-height: 2.1em;
      }
      &:after { 
        right: 2.5em
      }
      &.btn-wicon-left {
        .btn-wicon-icon {
          left: 0.55em;
        }
        &:after { 
          left: 2.6em
        }
      }
    }
  }
  &.btn-h {
    font-size: 1.4em;
    padding: 1em 0.8em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.7em;
        right: 0.25em;
        line-height: 1.9em;
      }
    }
  }
}

// Botones con iconos

.btn {
  &.btn-wicon {
    text-align: left;
    padding-right: 3.4em;
    .btn-wicon-icon {
      font-size: 1.2em;
      display: block;
      line-height: 1.9em;
      position: absolute;
      right: 0.55em;
      top: 0;
    }
    &:after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: 2.4em;
      top: 0;
      border-right: lighten($azul, 10%) $border-thin solid;
      border-left: darken($azul, 10%) $border-thin solid;
    }
    &:hover:after {
      border-right: lighten($azul, 0%) $border-thin solid;
      border-left: darken($azul, 30%) $border-thin solid;
    }
  }
  &.btn-wicon.btn-wicon-left {
    padding-right: 2em;
    padding-left: 3.4em;
    .btn-wicon-icon {
      right: auto;
      left: 0.6em;
    }
    &:after { 
      right: auto;
      left: 2.4em;
    }
  }
}
// Variaciones de Tamano 
.btn {
  &.btn-p {
    font-size: 0.8em;
    &.btn-wicon { }
  }
  &.btn-m {
    font-size: 1.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.1em;
        right: 0.6em;
        line-height: 2.1em;
      }
      &:after { 
        right: 2.3em
      }
      &.btn-wicon-left {
        .btn-wicon-icon {
          left: 0.55em;
        }
        &:after { 
          left: 2.2em
        }
      }
    }
  }
  &.btn-g {
    font-size: 1.3em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 1em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.3em;
        right: 0.5em;
        line-height: 2.1em;
      }
      &:after { 
        right: 2.5em
      }
      &.btn-wicon-left {
        .btn-wicon-icon {
          left: 0.55em;
        }
        &:after { 
          left: 2.6em
        }
      }
    }
  }
  &.btn-h {
    font-size: 1.4em;
    padding: 1em 0.8em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.7em;
        right: 0.25em;
        line-height: 1.9em;
      }
    }
  }
}
// Botones con iconos

.btn {
  &.btn-wicon {
    text-align: left;
    padding-right: 3.4em;
    .btn-wicon-icon {
      font-size: 1.2em;
      display: block;
      line-height: 1.9em;
      position: absolute;
      right: 0.55em;
      top: 0;
    }
    &:after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: 2.4em;
      top: 0;
      border-right: lighten($azul, 10%) $border-thin solid;
      border-left: darken($azul, 10%) $border-thin solid;
    }
    &:hover:after {
      border-right: lighten($azul, 0%) $border-thin solid;
      border-left: darken($azul, 30%) $border-thin solid;
    }
  }
  &.btn-wicon.btn-wicon-left {
    padding-right: 2em;
    padding-left: 3.4em;
    .btn-wicon-icon {
      right: auto;
      left: 0.6em;
    }
    &:after { 
      right: auto;
      left: 2.4em;
    }
  }
}

.btn-group {
  display: inline-block;
  .btn {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    @include border-radius(0);
  }
}
