@import "functions";

.btn {
  @include boton();
  position: relative;
  &:hover {
    color: $white;
    background-color: darken($azul,15%);
  }
  &.anchor {
    display: block;
  }
}
// Variaciones de color
.btn {
  &.btn-morado, &.btn-action {
    background-color: $morado;
    &:hover {
      background-color: darken($morado,15%);
      
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($morado, 10%) $border-thin solid;
        border-left: darken($morado, 10%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten($morado, 0%) $border-thin solid;
        border-left: darken($morado, 25%) $border-thin solid;
      }
    }
  }
  &.btn-verde, &.btn-accept {
    background-color: darken($verde,15%);
    &:hover {
      background-color: darken($verde,25%);
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($verde, 10%) $border-thin solid;
        border-left: darken($verde, 10%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten($verde, 0%) $border-thin solid;
        border-left: darken($verde, 40%) $border-thin solid;
      }
    }
  }
  &.btn-naranja, &.btn-warning {
    background-color: darken($naranja,15%);
    &:hover {
      background-color: darken($naranja,25%);
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($naranja, 0%) $border-thin solid;
        border-left: darken($naranja, 25%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten($naranja, 0%) $border-thin solid;
        border-left: darken($naranja, 45%) $border-thin solid;
      }
    }
  }
  &.btn-rojo, &.btn-error {
    background-color: $rojo;
    &:hover {
      background-color: darken($rojo,15%);
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($rojo, 10%) $border-thin solid;
        border-left: darken($rojo, 10%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten($rojo, 0%) $border-thin solid;
        border-left: darken($rojo, 30%) $border-thin solid;
      }
    }
  }
  &.btn-white {
    color: $gris_oscuro;
    background-color: $white;
    &:hover {
      background-color: darken($white,15%);
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($white, 10%) $border-thin solid;
        border-left: darken($white, 10%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten(darken($white,0%), 10%) $border-thin solid;
        border-left: darken(darken($white,35%), 10%) $border-thin solid;
      }
    }
  }
  &.btn-gris {
    color: #212121;
    background-color: $gris_boton;
    //@include text-shadow(0,0,0,$gris_boton);
    &:hover {
      background-color: darken($gris_boton,5%);
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($gris_boton, 10%) $border-thin solid;
        border-left: darken($gris_boton, 20%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten($gris_boton, 0%) $border-thin solid;
        border-left: darken($gris_boton, 35%) $border-thin solid;
      }
    }
  }
  &.btn-gris-oscuro {
    background-color: $gris_claro;
    &:hover {
      background-color: darken($gris_claro,15%);
    }
    &.btn-wicon {
      &:after {
        border-right: lighten($gris_claro, 10%) $border-thin solid;
        border-left: darken($gris_claro, 20%) $border-thin solid;
      }
      &:hover:after {
        border-right: lighten($gris_claro, 0%) $border-thin solid;
        border-left: darken($gris_claro, 35%) $border-thin solid;
      }
    }
  }
}

// Variaciones de Tamano 
.btn {
  &.btn-p {
    font-size: 0.8em;
    &.btn-wicon { }
  }
  &.btn-m {
    font-size: 1.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.1em;
        right: 0.6em;
        line-height: 2.1em;
      }
    }
  }
  &.btn-g {
    font-size: 1.3em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 1em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.3em;
        right: 0.5em;
        line-height: 2.1em;
      }
    }
  }
  &.btn-h {
    font-size: 1.4em;
    padding: 1em 0.8em;
    &.btn-wicon {
      .btn-wicon-icon { 
        font-size: 1.7em;
        right: 0.25em;
        line-height: 1.9em;
      }
    }
  }
}

// Botones con iconos

.btn {
  &.btn-wicon {
    text-align: left;
    padding-right: 3.4em;
    .btn-wicon-icon {
      font-size: 1.2em;
      display: block;
      line-height: 1.9em;
      position: absolute;
      right: 0.55em;
      top: 0;
    }
    &:after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: 2.5em;
      top: 0;
      border-right: lighten($azul, 10%) $border-thin solid;
      border-left: darken($azul, 10%) $border-thin solid;
    }
    &:hover:after {
      border-right: lighten($azul, 0%) $border-thin solid;
      border-left: darken($azul, 30%) $border-thin solid;
    }
  }
  &.btn-wicon.btn-wicon-left {
    padding-right: 2em;
    padding-left: 3.4em;
    .btn-wicon-icon {
      right: auto;
      left: 0.6em;
    }
    &:after { 
      right: auto;
      left: 2.5em;
    }
  }
}