@import "functions";

@include column-system-create($column_width , $column_number, $column_gutter);

.clear {
  clear: both;
}

.right {
  
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}

.justify {
  text-align: justify;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// [class*="grid"] {
//   &.right {
//     float: right;
//   }
//   &.left {
//     float: left;
//   }
// }

.visible-grid {
  padding: 10px 0;
  background-color: lighten($gris_claro,20%);
  margin-top: 10px;
  margin-bottom: 10px;
  [class*="grid"] {
    padding: 10px 0;
    text-align: center;
    background-color: lighten($gris_claro,10%);
  }
}