@import "functions";

@include column-system-create($normal_display,$column_number, $column_gutter);
@include column-system-create($normal_display, $column_number, $column_gutter); 
@include grid-system($normal_display,$column_number, $column_gutter, "xs");
@include grid-system-mobile($column_number, $column_gutter);


.clear {
  clear: both;
}

.right {
  float: right;  
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}

.justify {
  text-align: justify;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.visible-grid { 
  background-color: lighten($gris_claro,20%);
  margin-top: 10px;
  margin-bottom: 10px;
  [class*="grid"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid $gris_claro;
    border-right: 1px solid $gris_claro;
    text-align: center;
    background-color: lighten($gris_claro,10%);
  }
}
