@import "functions";

#content, .main-content {
  position: relative;
  margin-top: 10px;
  background-color: white;
  padding-bottom: 60px;
  @include box-shadow(0,0,5px,0,$gris,0.5);
  @include box-sizing(content-box);
  &.contents.show {

  }
  &.contents.index {
    padding-top:0;
  }
}

.content-main-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 0px;
}


