@import "functions";

.formtastic {
  label {
    display:block;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
  }
  .actions {
    ol { 
      list-style: none;
    }
    li {
      display: inline-block;
    }
    .link_action {
      margin-top: 11px;
    }
  }
}

.form-background {
  padding: 20px;
  @include border-radius(10px);
  @include background-gradient(lighten($gris_claro,25%), $white);
  @include box-shadow(0 1px 2px 0 rgba($azul,0.5));
}

form {
  .block {
    display: block;
  }
  .full {
    width: 100%;
  }
  label {
    font-family: $ubuntu;
    padding-top: 10px;
    padding-bottom: 10px;
    .validation-error {
      display: none;
    }
  }
  input, select, textarea {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgba($azul,0.5);
    @include border-radius(5px);
    @include box-shadow(0, 0, 0px, 0, $gris_claro);
    @include box-sizing(content-box);
    &:focus {
      
    }
  }
  select {
    background-color: $white;
  }
  .field {
    margin-bottom: 10px;
  }
  .select_field {
    display: inline-block;
    width: 90%;
    padding:5px 10px;
    margin: 10px 0 5px 0;
  }
  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  input[type="url"], 
  input[type="tel"], 
  textarea {
    width: 85%;
  }
  .grid3 {
    input[type="text"], 
    input[type="password"], 
    input[type="email"], 
    input[type="url"], 
    input[type="tel"], 
    textarea {
      width: 69%;
    }
  }  
  .validation-error {
    display: block;
    margin-bottom: 15px;
    background-color: $rojo;
    width: 88%;
    padding: 5px;
    color: white;
    margin-top: -4px;
  }
}
