@import "functions";

.fixed.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000;
  height: $menu_height;
  border-bottom: 1px solid #CACACA;
  @include background-gradient($menu_claro,$menu_oscuro);
  @include box-shadow(0px,0px,1px,0px,darken($menu_oscuro,50%));
  #logo {
    margin-top: 6px;
  }
  #main_menu {
    .sitename {
      margin-bottom: 0;
      font-size: 1.4em;
      line-height: $menu_height;
      @include text-shadow(0px,1px,0, #FFFFFF);
      a {
        &:link {
          color: $gris_oscuro;
        }
      }
    }
  }
}

#header {
  margin-top:65px;
}

.hero-unit {
  padding: 40px 0;
}