@import "functions"; 


.icons {
	font-family: 'icomoon';
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
    -webkit-font-smoothing: antialiased;
  	text-rendering: geometricPrecision;
	&.icons-small {
		font-size: 16px;
		line-height: 1.2em;
		&.icons-rounded {
			line-height: 1.8em;
		}
	}
	&.icons-medium {
		font-size: 18px;
		line-height: 1.2em;
		&.icons-rounded {
			line-height: 1.7em;
		}
	}
	&.icons-big {
		font-size: 22px;
		line-height: 1.2em;
		&.icons-rounded {
			line-height: 1.8em;
		}
	}
	&.icons-huge {
		font-size: 30px;
		line-height: 1.2em;
		&.icons-rounded {
			line-height: 2em;
		}
	}
	&.icons-rounded {
		background-color: $gris_claro;
		height: 2em;
		line-height: 2em;
		width: 2em;
		color: $white;
		margin-left: auto;
		margin-right: auto;
		border: $white $border_medium solid;
		@include box-shadow(0 0 $border_medium darken($gris_claro,10%));
		@include border-radius(50%);
	}
}
.icons.small {
	font-size: 18px;
	line-height: 12px;
	position: relative;
	top: 0.15em;
	margin-right: 5px;
}