@import "functions";

// Features Module
.module-f {
  margin-bottom: 20px;
  //border-bottom-width: $border_thin;
  //border-bottom-style: solid;
  @include box-sizing(border-box);
  //@include box-shadow(2px,0,0,0,$gris_sombra,0.4);
  .module-f-icon {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    color: $gris_oscuro;
    @include text-shadow(0,-1px,0,$gris_sombra);
  }
  .module-f-text {
    float: left;
    width: 75%;
    p {
      margin-top: 0;
    }
  }
  .module-f-title {
    display: inline;
    color: $rojo;
    font-size: $font_base + 1;
    margin: 0;
    font-weight: bold;
  }
  &:nth-child(1n) {
    //border-bottom-color: $morado;
  }
  &:nth-child(3n+2) {
    //border-bottom-color: $verde;
  }
  &:nth-child(3n+3) {
    @include box-shadow(0,0,0,0,#ffffff,0);
    //border-bottom-color: $rojo;
  }
}

// Module center
.module-c {
  text-align: center;
  .module-c-title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: $azul;
  }
  .module-c-icon {
    font-size: 44px;
    line-height: 104px;
    height: 100px;
    width: 100px;
    position: relative;
    background-color: $morado;
    margin: 0 auto;
    //border: $white $border_medium solid;
    // @include text-shadow(-1px -1px 0 darken($azul,20%));
    @include border-radius(50px);
  }
  .module-c-content {
    p {
      margin-top: 0;
    }
  }
}

// .course-list {
//   @include box-shadow(0 0 3px 0 $gris_claro);
//   @include border-radius(8px);
//   .course-content {
//     padding: 10px;
//     border: rgba($black, 0.3);
//     @include box-sizing(border-box);
//   }
//   .course_icon {
//     padding-top: 40px;
//     padding-bottom: 10px;
//     @include background-size(220px 90px);
//     @include background-gradient(darken($gris_claro,40%),darken($gris_claro,40%));
//     background-color: transparent;
//     @include border-radius(10px 10px 0 0);
//     background-repeat:no-repeat;
//   }
// }

// Module with thumbnail
.module-t {
  margin-top: 20px;
  margin-bottom: 20px;
  @include clearfix;
  @include box-shadow(0 0 3px 0 $gris_claro);
  @include border-radius(8px);
  .module-t-image {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    @include background-size(100% 90px);
    @include background-gradient(darken($gris_claro,40%),darken($gris_claro,40%));
    background-color: transparent;
    @include border-radius(10px 10px 0 0);
    background-repeat:no-repeat;
    &.big {
      padding-top: 55px;
      @include background-size(100% 120px);
    }
  }
  .module-t-detail {
    padding: 10px;
    border: rgba($black, 0.3);
    @include box-sizing(border-box);
  }
  // .module-t-title {
  // }
  // .module-t-excerpt {
  //   .module-t-et {
  //   }
  // }
  // &:hover {
  // }
}