@import "functions";

// the class titulo-cinta y titulo_cinta son para compatibilidad hacia atras

.ribbon-title,
.titulo-cinta, 
.titulo_cinta {
  width: 100%;
  background-color: $gris;
  color: white;
  padding: 10px 2.7%;
  position: relative;
  left: -2.7%;
  font-weight: 300;
  @include box-shadow(0, 4px, 0, 0, $azul, 1);
  &:before, .arrow-cinta-left {
    @include arrow('left', 15px, $azul);
    content: "";
    display: block;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
  }
  &:after, .arrow-cinta-right {
    @include arrow('right', 15px, $azul);
    content: "";
    display: block;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: -1;
  }
  &.ribbon-small {
    padding: 5px 25px;
  }
}

// Variaciones de color
// hacer refactory de esto y meter el codigo repetido en una funcion

.ribbon-title,
.titulo-cinta, 
.titulo_cinta {
  &.light {
    background-color: darken($gris_boton, 5%);
    color: $gris_oscuro;
    border-top: $border_thin $gris_claro solid;
    &.ribbon-wicon .ribbon-icon.icons {
      color: white;
    }
  }
  &.morado {
    $color: $morado;
    @include box-shadow(0, 4px, 0, 0, $color, 1);
    &:before, .arrow-cinta-left {
      @include arrow('left', 15px, $color);
    }
    &:after, .arrow-cinta-right { 
      @include arrow('right', 15px, $color);
    }
    &.ribbon-wicon .ribbon-icon.icons {
      background-color: $color;
      @include box-shadow(0 0 0px 4px $white #{","} 0 0 0px 8px darken($color, 10%));
    }
  }
  &.verde {
    $color: $verde;
    @include box-shadow(0,4px,0,0,$color,1);
    &:before, .arrow-cinta-left {
      @include arrow('left', 15px, $color);
    }
    &:after, .arrow-cinta-right { 
      @include arrow('right', 15px, $color);
    }
    &.ribbon-wicon .ribbon-icon.icons {
      background-color: $color;
      @include box-shadow(0 0 0px 4px $white #{","} 0 0 0px 8px darken($color, 10%));
    }
  }
  &.naranja {
    $color: $naranja;
    @include box-shadow(0,4px,0,0,$color,1);
    &:before, .arrow-cinta-left {
      @include arrow('left', 15px, $color);
    }
    &:after, .arrow-cinta-right { 
      @include arrow('right', 15px, $color);
    }
    &.ribbon-wicon .ribbon-icon.icons {
      background-color: $color;
      @include box-shadow(0 0 0px 4px $white #{","} 0 0 0px 8px darken($color, 10%));
    }
  }
  &.rojo {
    $color: lighten($rojo, 15%);
    @include box-shadow(0,4px,0,0,$color,1);
    &:before, .arrow-cinta-left {
      @include arrow('left', 15px, $color);
    }
    &:after, .arrow-cinta-right { 
      @include arrow('right', 15px, $color);
    }
    &.ribbon-wicon .ribbon-icon.icons {
      background-color: $color;
      @include box-shadow(0 0 0px 4px $white #{","} 0 0 0px 8px darken($color, 10%));
    }
  }
}

// Titulos con cintas
.ribbon-title,
.titulo-cinta, 
.titulo_cinta {
  &.ribbon-wicon {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    .ribbon-icon {
      z-index: 2;
      max-width: 80px;
      position: absolute;
      top: -18px;
      left: -40px;
      &.icons {
        top: -10px;
        left: -2px;
        text-indent: 0;
        text-align: center;
        width: 60px;
        height: 60px;
        line-height: 64px;
        font-size: 28px;
        background-color: $azul;
        @include text-shadow(-1px -1px 0 rgba($black, 0.4));
        @include border-radius(30px);
        @include box-shadow(0 0 0px 4px $white #{","} 0 0 0px 8px darken($azul, 10%));
      }
    }
    .ribbon-text, &.ribbon-right .ribbon-text {
      margin-left: 45px;
    }
    &.ribbon-wicon-big {
      margin-top: 50px;
      margin-bottom: 50px;
      .ribbon-icon {
        max-width: 110px;
        position: absolute;
        top: -30px;
        left: -50px;
        &.icons {
          top: -18px;
          left: -5px;
          text-indent: 0;
          text-align: center;
          width: 90px;
          height: 90px;
          line-height: 94px;
          font-size: 38px;
          @include text-shadow(-1px -1px 0 rgba($black, 0.4));
          @include border-radius(50px);
        }
      }
      .ribbon-text {
        margin-left: 70px;
      }
    }
  }
  &.ribbon-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;    
    left: auto;
    right: -20px;
    text-indent: 30px;
    &:before {
      border: none;
      left: 0px;
      top: 0;
      z-index: 0;
      @include arrow("right", 1.1em, $white);
    }
    .ribbon-text {
      margin-left: 30px;
    }
    &.ribbon-wicon-big {
      &:before {
        @include arrow("right", 0.9em, $white);
      }
    }
  }
  &.ribbon-left {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-indent: 30px;
    left: -20px;
    right: auto;
    &:after {
      border: none;
      right: 0px;
      top: 0;
      z-index: 0;
      @include arrow("left", 1.1em, $white);
    }
    &.ribbon-wicon-big {
      &:after {
        @include arrow("right", 0.9em, $white);
      }
    }
    .ribbon-icon {
      left: auto;
      right: -18px;
      @media #{$media_phone}{
        right: -18px
      }
      &.icons {
        left: auto;
        right: -8px;
      }
    }
    .ribbon-text {
      margin-left: 0px;
    }
    &.ribbon-wicon-big {
      .ribbon-icon {
        left: auto;
        right: -22px;
        &.icons {
          left: auto;
          right: -8px;
        }
      }
      .ribbon-text {
        margin-left: 0px;
      }
    }
  }
}
