@import "functions";

// Slider Styles 
#slider {
	margin-top: 42px;
	overflow: hidden;
	.group {
		position: relative;
		height: 310px;
		@include transition(all, 600ms, ease);
		.badged {
			cursor: pointer;
			position: relative;
			float:left;
			@include transition(all, 600ms, ease);
			&:nth-child(odd){
				top: 0px;
			}
			&:nth-child(even){
				top: 140px;
			}
		}
		.badged.design 				{ margin-left: 185px; }
		.badged.webmaster 			{ margin-left: -102px; }
		.badged.wordpress 			{ margin-left: -20px; top: 82px; }
		.badged.manager 			{ margin-left: -20px; }
		.badged.development 		{ margin-left: -102px; }
		.badged.clicked				{ margin-left: 23px; top:0; opacity: 0.2; }
		.badged.clicked#design		{ margin-left: 85px; }
		.badged.clicked.active		{ opacity: 1;		}	
	}
	.group.small {
		height: 170px;
	}
	.tabs {
		visibility: hidden;
		position: relative;
		width:940px;
		height: 300px;
		margin-top: 20px;
		@include opacity(0);
		@include transition(all, 600ms, ease);
		.tab {
			width:    736px;
			padding:  20px 0;
			position: absolute;
			top:      0;
			left:     100px;
			@include box-shadow(0, 0, 4px, 0px, #90B5FF);
			h3 {
				font-size: 	2.4em;
				color: 		$azul;
			}
		}
	}
	.tabs.show {
		@include opacity(1);
		visibility: visible;
	}
}

