
// Colors 

$morado           : #9966C8;
$verde            : #ACE44A;
$azul_wp          : #68A8E0;
$naranja          : #EEBA43;
$rojo             : #dd4646;
$gris             : #4B4D4B;
$azul             : #4BB0DA;
$azul_claro       : lighten($azul, 40%);
$gris_claro       : lighten($gris, 40%);
$gris_boton       : #F1F1F1;
$gris_oscuro      : #282828;
$gris_sombra      : #E0E0E0;
$black            : #000;
$menu_claro       : #FAFAFA;
$menu_oscuro      : #EAEAEA;
$white            : #fcfcfc;
$link_hover       : $azul;
$footer_background: lighten($gris_claro,26%);
$twitter_color: #4bb0da;
$facebook_color: #3B5998;
$google_color: #df4a32;

// Las familias disponibles desde Google Webfonts son:;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Dosis', sans-serif;
// font-family: 'icomoon';
// font-family: 'Chivo', sans-serif;

$font_base      : 13px;
$text_proportion: 0.3;
$ubuntu         : 'Ubuntu', sans-serif;
$open_sans      : 'Dosis', sans-serif;
$chivo          : 'Chivo', sans-serif;;
$font_light     : 300;
$font_normal    : 400;
$font_bold      : 700;

// Definicion del Grid 
//$column_width : 60px;
$column_number: 12;
$column_gutter: 20px;
// Menu 
$menu_height   : 42px;
$submenu_height: $menu_height - 10px;
$border_medium : 4px;
$border_thin   : 1px;

// Slider 
$initial_position:140px;
$xmove: 58px;
$ymove: 140px;

$innerpadding: 10px;
$modal_width: 740px;
$modal_left: -1*($modal_width/2);
// Redes Sociales
$alto_red_social: 45px;
$ancho_red_social: 245px;

// Responsive

$large_display: 1440px;
$medium_display: 1200px;
$normal_display: 940px;
$tablet_display: 720px;
$phone_display: 320px;
$media_large_pc: "only screen and (min-width: 1201px)";
$media_pc: "only screen and (min-width: 941px) and (max-width: 1200px)";
$media_tablet_portrait: "only screen and (min-width: 721px) and (max-width: 940px)";
$media_phone: "only screen and (max-width: 720px)";
