<div class="hero-unit">
  <h1 class="center slogan subtitle">
    Nuestra guia de estilos, no buscamos competir con bootstrap o foundation ellos juegan en otra liga.
  </h1>
  <h3 class="center slogan">
    Escuela Web framework
  </h3>
</div>