---
title: Iconos de Octagon Framework - Escuela Web
---
<div class="container">
  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&</div>
      <div class="explicacion">
        Caracter: &
    Caracter especial: &amp;#x26;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">2</div>
      <div class="explicacion">
        Caracter: 2
    Caracter especial: &amp;#x32;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">3</div>
      <div class="explicacion">
        Caracter: 3
    Caracter especial: &apm;#x33;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">?</div>
      <div class="explicacion">
        Caracter: ?
    Caracter especial: &amp;#x3f;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">D</div>
      <div class="explicacion">
        Caracter: D
    Caracter especial: &amp;#x44;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">I</div>
      <div class="explicacion">
        Caracter: I
    Caracter especial: &amp;#x49;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">L</div>
      <div class="explicacion">
        Caracter: L
    Caracter especial: &amp;#x4c;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">M</div>
      <div class="explicacion">
        Caracter: M
    Caracter especial: &amp;#x4d;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">R</div>
      <div class="explicacion">
        Caracter: R
    Caracter especial: &amp;#x52;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">S</div>
      <div class="explicacion">
        Caracter: S
    Caracter especial: &amp;#x53;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">T</div>
      <div class="explicacion">
        Caracter: T
    Caracter especial: &amp;#x53;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">V</div>
      <div class="explicacion">
        Caracter: V
    Caracter especial: &amp;#x56;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">X</div>
      <div class="explicacion">
        Caracter: X
    Caracter especial: &amp;#x58;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">X</div>
      <div class="explicacion">
        Caracter: X
    Caracter especial: &amp;#x58;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">s</div>
      <div class="explicacion">
        Caracter: s
    Caracter especial: &amp;#x58;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">#</div>
      <div class="explicacion">
        Caracter: #
    Caracter especial: &amp;#x23;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">$</div>
      <div class="explicacion">
        Caracter: $
    Caracter especial: &amp;#x24;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">0</div>
      <div class="explicacion">
        Caracter: 0
    Caracter especial: &amp;#x30;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">1</div>
      <div class="explicacion">
        Caracter: 1
    Caracter especial: &amp;#x31;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">6</div>
      <div class="explicacion">
        Caracter: 6
    Caracter especial: &amp;#x36;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">-</div>
      <div class="explicacion">
        Caracter: -
    Caracter especial: &amp;#x2d;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&lt;</div>
      <div class="explicacion">
        Caracter:
            &lt;
    Caracter especial: &amp;#x3c;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">=</div>
      <div class="explicacion">
        Caracter: =
    Caracter especial: &amp;#x3d;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">></div>
      <div class="explicacion">
        Caracter: >
    Caracter especial: &amp;#x3e;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">B</div>
      <div class="explicacion">
        Caracter: B
    Caracter especial: &amp;#x42;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">E</div>
      <div class="explicacion">
        Caracter: E
    Caracter especial: &amp;#x45;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">O</div>
      <div class="explicacion">
        Caracter: O
    Caracter especial: &amp;#x4f;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">P</div>
      <div class="explicacion">
        Caracter: P
    Caracter especial: &amp;#x50;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">U</div>
      <div class="explicacion">
        Caracter: U
    Caracter especial: &amp;#x55;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">@</div>
      <div class="explicacion">
        Caracter: @
    Caracter especial: &amp;#x40;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">5</div>
      <div class="explicacion">
        Caracter: 5
    Caracter especial: &amp;#x35;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">!</div>
      <div class="explicacion">
        Caracter: !
    Caracter especial: &amp;#x21;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">'</div>
      <div class="explicacion">
        Caracter: '
    Caracter especial: &amp;#x27;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">(</div>
      <div class="explicacion">
        Caracter: (
    Caracter especial: &amp;#x28;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">)</div>
      <div class="explicacion">
        Caracter: )
    Caracter especial: &amp;#x29;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">*</div>
      <div class="explicacion">
        Caracter: *
    Caracter especial: &amp;#x2a;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">,</div>
      <div class="explicacion">
        Caracter: ,
    Caracter especial: &amp;#x2c;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">"</div>
      <div class="explicacion">
        Caracter: "
    Caracter especial: &amp;#x22;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">+</div>
      <div class="explicacion">
        Caracter: +
    Caracter especial: &amp;#x2b;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">/</div>
      <div class="explicacion">
        Caracter: /
    Caracter especial: &amp;#x2f;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">9</div>
      <div class="explicacion">
        Caracter: 9
    Caracter especial: &amp;#x39;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">:</div>
      <div class="explicacion">
        Caracter: :
    Caracter especial: &amp;#x3a;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">;</div>
      <div class="explicacion">
        Caracter: ;
    Caracter especial: &amp;#x3b;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">A</div>
      <div class="explicacion">
        Caracter: A
    Caracter especial: &amp;#x41;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">C</div>
      <div class="explicacion">
        Caracter: C
    Caracter especial: &amp;#x43;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">F</div>
      <div class="explicacion">
        Caracter: F
    Caracter especial: &amp;#x46;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">G</div>
      <div class="explicacion">
        Caracter: G
    Caracter especial: &amp;#x47;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">%</div>
      <div class="explicacion">
        Caracter: %
    Caracter especial: &amp;#x25;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">J</div>
      <div class="explicacion">
        Caracter: J
    Caracter especial: &amp;#x4a;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">K</div>
      <div class="explicacion">
        Caracter: K
    Caracter especial: &amp;#x4b;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">N</div>
      <div class="explicacion">
        Caracter: N
    Caracter especial: &amp;#x4e;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">W</div>
      <div class="explicacion">
        Caracter: W
    Caracter especial: &amp;#x57;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">Y</div>
      <div class="explicacion">
        Caracter: Y
    Caracter especial: &amp;#x59;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">[</div>
      <div class="explicacion">
        Caracter: [
    Caracter especial: &amp;#x5b;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">\</div>
      <div class="explicacion">
        Caracter: \
    Caracter especial: &amp;#x5c;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">]</div>
      <div class="explicacion">
        Caracter: ]
    Caracter especial: &amp;#x5d;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">a</div>
      <div class="explicacion">
        Caracter: a
    Caracter especial: &amp;#x61;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">b</div>
      <div class="explicacion">
        Caracter: b
    Caracter especial: &amp;#x62;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">c</div>
      <div class="explicacion">
        Caracter: c
    Caracter especial: &amp;#x63;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">f</div>
      <div class="explicacion">
        Caracter: f
    Caracter especial: &amp;#x66;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">g</div>
      <div class="explicacion">
        Caracter: g
    Caracter especial: &amp;#x67;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">h</div>
      <div class="explicacion">
        Caracter: h
    Caracter especial: &amp;#x68;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">i</div>
      <div class="explicacion">
        Caracter: i
    Caracter especial: &amp;#x69;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">k</div>
      <div class="explicacion">
        Caracter: k
    Caracter especial: &amp;#x6b;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">1</div>
      <div class="explicacion">
        Caracter: 1
    Caracter especial: &amp;#x6c;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">o</div>
      <div class="explicacion">
        Caracter: o
    Caracter especial: &amp;#x6f;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">`</div>
      <div class="explicacion">
        Caracter: `
    Caracter especial: &amp;#x60;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">d</div>
      <div class="explicacion">
        Caracter: d
    Caracter especial: &amp;#x64;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">e</div>
      <div class="explicacion">
        Caracter: e
    Caracter especial: &amp;#x65;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">j</div>
      <div class="explicacion">
        Caracter: j
    Caracter especial: &amp;#x6a;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">p</div>
      <div class="explicacion">
        Caracter: p
    Caracter especial: &amp;#x70;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">r</div>
      <div class="explicacion">
        Caracter: r
    Caracter especial: &amp;#x72;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">z</div>
      <div class="explicacion">
        Caracter: z
    Caracter especial: &amp;#x7a;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">.</div>
      <div class="explicacion">
        Caracter: .
    Caracter especial: &amp;#x2e;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">4</div>
      <div class="explicacion">
        Caracter: 4
    Caracter especial: &amp;#x34;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">7</div>
      <div class="explicacion">
        Caracter: 7
    Caracter especial: &amp;#x37;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">8</div>
      <div class="explicacion">
        Caracter: 8
    Caracter especial: &amp;#x38;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">Q</div>
      <div class="explicacion">
        Caracter: Q
    Caracter especial: &amp;#x51;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">Z</div>
      <div class="explicacion">
        Caracter: Z
    Caracter especial: &amp;#x5a;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">^</div>
      <div class="explicacion">
        Caracter: ^
    Caracter especial: &amp;#x5e;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">_</div>
      <div class="explicacion">
        Caracter: _
    Caracter especial: &amp;#x5f;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">n</div>
      <div class="explicacion">
        Caracter: n
    Caracter especial: &amp;#x6e;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">m</div>
      <div class="explicacion">
        Caracter: m
    Caracter especial: &amp;#x6d;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xf04a;</div>
      <div class="explicacion">
        Caracter:  &#xf04a;
    Caracter especial: &amp;#xf04a;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xf013;</div>
      <div class="explicacion">
        Caracter:  &#xf013;
    Caracter especial: &amp;#xf013;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xf099;</div>
      <div class="explicacion">
        Caracter:  &#xf099;
    Caracter especial: &amp;#xf099;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xf2ba;</div>
      <div class="explicacion">
        Caracter:  &#xf2ba;
    Caracter especial: &amp;#xf2ba;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xf288;</div>
      <div class="explicacion">
        Caracter:  &#xf288;
    Caracter especial: &amp;#xf288;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe000;</div>
      <div class="explicacion">
        Caracter:  &#xe000;
    Caracter especial: &amp;#xe000;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe001;</div>
      <div class="explicacion">
        Caracter:  &#xe001;
    Caracter especial: &amp;#xe001;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe002;</div>
      <div class="explicacion">
        Caracter:  &#xe002;
    Caracter especial: &amp;#xe002;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe003;</div>
      <div class="explicacion">
        Caracter:  &#xe003;
    Caracter especial: &amp;#xe003;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe004;</div>
      <div class="explicacion">
        Caracter:  &#xe004;
    Caracter especial: &amp;#xe004;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe005;</div>
      <div class="explicacion">
        Caracter:  &#xe005;
    Caracter especial: &amp;#xe005;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe006;</div>
      <div class="explicacion">
        Caracter:  &#xe006;
    Caracter especial: &amp;#xe006;
      </div>
    </div>
    <div class="grid2 center mt40">
      <div class="icons icons-huge mb20">&#xe007;</div>
      <div class="explicacion">
        Caracter:  &#xe007;
    Caracter especial: &amp;#xe007;
      </div>
    </div>
  </div>

</div>