---
title: Iconos de Octagon Framework - Escuela Web
---
:css
  .caja-icono {
    background-color: #E3E3E3;
    padding: 10px 0;
    border: white 4px solid;
    box-shadow: 0 0px 4px 0 #ccc;
  } 
  .explicacion {
    font-weight: bolder;
  }
  .explicacion b {
    font-weight: normal;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
%section.grid12
  %header
    %h1.content-main-title Detalle de caracteres para los Iconos
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 &
      .explicacion
        %b Caracter:
        \&
        %br/
        %b Caracter especial:
        \&amp;#x26;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 2
      .explicacion
        %b Caracter:
        2
        %br/
        %b Caracter especial:
        \&amp;#x32;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 3
      .explicacion
        %b Caracter:
        3
        %br/
        %b Caracter especial:
        \&apm;#x33;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 ?
      .explicacion
        %b Caracter:
        ?
        %br/
        %b Caracter especial:
        \&amp;#x3f;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 D
      .explicacion
        %b Caracter:
        D
        %br/
        %b Caracter especial:
        \&amp;#x44;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 I
      .explicacion
        %b Caracter:
        I
        %br/
        %b Caracter especial:
        \&amp;#x49;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 L
      .explicacion
        %b Caracter:
        L
        %br/
        %b Caracter especial:
        \&amp;#x4c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 M
      .explicacion
        %b Caracter:
        M
        %br/
        %b Caracter especial:
        \&amp;#x4d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 R
      .explicacion
        %b Caracter:
        R
        %br/
        %b Caracter especial:
        \&amp;#x52;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 S
      .explicacion
        %b Caracter:
        S
        %br/
        %b Caracter especial:
        \&amp;#x53;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 T
      .explicacion
        %b Caracter:
        T
        %br/
        %b Caracter especial:
        \&amp;#x53;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 V
      .explicacion
        %b Caracter:
        V
        %br/
        %b Caracter especial:
        \&amp;#x56;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 H
      .explicacion
        %b Caracter:
        H
        %br/
        %b Caracter especial:
        \&amp;#x48;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 X
      .explicacion
        %b Caracter:
        l
        %br/
        %b Caracter especial:
        \&amp;#x58;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 s
      .explicacion
        %b Caracter:
        s
        %br/
        %b Caracter especial:
        \&amp;#x58;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 #
      .explicacion
        %b Caracter:
        \#
        %br/
        %b Caracter especial:
        \&amp;#x23;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 $
      .explicacion
        %b Caracter:
        $
        %br/
        %b Caracter especial:
        \&amp;#x24;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 0
      .explicacion
        %b Caracter:
        0
        %br/
        %b Caracter especial:
        \&amp;#x30;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 1
      .explicacion
        %b Caracter:
        1
        %br/
        %b Caracter especial:
        \&amp;#x31;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 6
      .explicacion
        %b Caracter:
        6
        %br/
        %b Caracter especial:
        \&amp;#x36;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 -
      .explicacion
        %b Caracter:
        \-
        %br/
        %b Caracter especial:
        \&amp;#x2d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 &lt;
      .explicacion
        %b Caracter:
        %b
          \&lt;
          %br/
        Caracter especial: &amp;#x3c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 =
      .explicacion
        %b Caracter:
        \=
        %br/
        %b Caracter especial:
        \&amp;#x3d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 >
      .explicacion
        %b Caracter:
        >
        %br/
        %b Caracter especial:
        \&amp;#x3e;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 B
      .explicacion
        %b Caracter:
        B
        %br/
        %b Caracter especial:
        \&amp;#x42;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 E
      .explicacion
        %b Caracter:
        E
        %br/
        %b Caracter especial:
        \&amp;#x45;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 O
      .explicacion
        %b Caracter:
        O
        %br/
        %b Caracter especial:
        \&amp;#x4f;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 P
      .explicacion
        %b Caracter:
        P
        %br/
        %b Caracter especial:
        \&amp;#x50;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 U
      .explicacion
        %b Caracter:
        U
        %br/
        %b Caracter especial:
        \&amp;#x55;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 @
      .explicacion
        %b Caracter:
        @
        %br/
        %b Caracter especial:
        \&amp;#x40;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 5
      .explicacion
        %b Caracter:
        5
        %br/
        %b Caracter especial:
        \&amp;#x35;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 !
      .explicacion
        %b Caracter:
        \!
        %br/
        %b Caracter especial:
        \&amp;#x21;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 '
      .explicacion
        %b Caracter:
        '
        %br/
        %b Caracter especial:
        \&amp;#x27;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 (
      .explicacion
        %b Caracter:
        (
        %br/
        %b Caracter especial:
        \&amp;#x28;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 )
      .explicacion
        %b Caracter:
        )
        %br/
        %b Caracter especial:
        \&amp;#x29;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 *
      .explicacion
        %b Caracter:
        *
        %br/
        %b Caracter especial:
        \&amp;#x2a;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 ,
      .explicacion
        %b Caracter:
        ,
        %br/
        %b Caracter especial:
        \&amp;#x2c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 "
      .explicacion
        %b Caracter:
        "
        %br/
        %b Caracter especial:
        \&amp;#x22;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 +
      .explicacion
        %b Caracter:
        +
        %br/
        %b Caracter especial:
        \&amp;#x2b;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 /
      .explicacion
        %b Caracter:
        \/
        %br/
        %b Caracter especial:
        \&amp;#x2f;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 9
      .explicacion
        %b Caracter:
        9
        %br/
        %b Caracter especial:
        \&amp;#x39;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 :
      .explicacion
        %b Caracter:
        \:
        %br/
        %b Caracter especial:
        \&amp;#x3a;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 ;
      .explicacion
        %b Caracter:
        ;
        %br/
        %b Caracter especial:
        \&amp;#x3b;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 A
      .explicacion
        %b Caracter:
        A
        %br/
        %b Caracter especial:
        \&amp;#x41;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 C
      .explicacion
        %b Caracter:
        C
        %br/
        %b Caracter especial:
        \&amp;#x43;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 F
      .explicacion
        %b Caracter:
        F
        %br/
        %b Caracter especial:
        \&amp;#x46;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 G
      .explicacion
        %b Caracter:
        G
        %br/
        %b Caracter especial:
        \&amp;#x47;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 %
      .explicacion
        %b Caracter:
        \%
        %br/
        %b Caracter especial:
        \&amp;#x25;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 J
      .explicacion
        %b Caracter:
        J
        %br/
        %b Caracter especial:
        \&amp;#x4a;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 K
      .explicacion
        %b Caracter:
        K
        %br/
        %b Caracter especial:
        \&amp;#x4b;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 N
      .explicacion
        %b Caracter:
        N
        %br/
        %b Caracter especial:
        \&amp;#x4e;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 W
      .explicacion
        %b Caracter:
        W
        %br/
        %b Caracter especial:
        \&amp;#x57;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 Y
      .explicacion
        %b Caracter:
        Y
        %br/
        %b Caracter especial:
        \&amp;#x59;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 [
      .explicacion
        %b Caracter:
        [
        %br/
        %b Caracter especial:
        \&amp;#x5b;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 \
      .explicacion
        %b Caracter:
        \\
        %br/
        %b Caracter especial:
        \&amp;#x5c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 ]
      .explicacion
        %b Caracter:
        ]
        %br/
        %b Caracter especial:
        \&amp;#x5d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 a
      .explicacion
        %b Caracter:
        a
        %br/
        %b Caracter especial:
        \&amp;#x61;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 b
      .explicacion
        %b Caracter:
        b
        %br/
        %b Caracter especial:
        \&amp;#x62;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 c
      .explicacion
        %b Caracter:
        c
        %br/
        %b Caracter especial:
        \&amp;#x63;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 f
      .explicacion
        %b Caracter:
        f
        %br/
        %b Caracter especial:
        \&amp;#x66;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 g
      .explicacion
        %b Caracter:
        g
        %br/
        %b Caracter especial:
        \&amp;#x67;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 h
      .explicacion
        %b Caracter:
        h
        %br/
        %b Caracter especial:
        \&amp;#x68;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 i
      .explicacion
        %b Caracter:
        i
        %br/
        %b Caracter especial:
        \&amp;#x69;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 k
      .explicacion
        %b Caracter:
        k
        %br/
        %b Caracter especial:
        \&amp;#x6b;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 l
      .explicacion
        %b Caracter:
        l
        %br/
        %b Caracter especial:
        \&amp;#x6c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 o
      .explicacion
        %b Caracter:
        o
        %br/
        %b Caracter especial:
        \&amp;#x6f;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 `
      .explicacion
        %b Caracter:
        `
        %br/
        %b Caracter especial:
        \&amp;#x60;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 d
      .explicacion
        %b Caracter:
        d
        %br/
        %b Caracter especial:
        \&amp;#x64;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 e
      .explicacion
        %b Caracter:
        e
        %br/
        %b Caracter especial:
        \&amp;#x65;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 j
      .explicacion
        %b Caracter:
        j
        %br/
        %b Caracter especial:
        \&amp;#x6a;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 p
      .explicacion
        %b Caracter:
        p
        %br/
        %b Caracter especial:
        \&amp;#x70;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 r
      .explicacion
        %b Caracter:
        r
        %br/
        %b Caracter especial:
        \&amp;#x72;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 z
      .explicacion
        %b Caracter:
        z
        %br/
        %b Caracter especial:
        \&amp;#x7a;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 .
      .explicacion
        %b Caracter:
        \.
        %br/
        %b Caracter especial:
        \&amp;#x2e;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 4
      .explicacion
        %b Caracter:
        4
        %br/
        %b Caracter especial:
        \&amp;#x34;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 7
      .explicacion
        %b Caracter:
        7
        %br/
        %b Caracter especial:
        \&amp;#x37;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 8
      .explicacion
        %b Caracter:
        8
        %br/
        %b Caracter especial:
        \&amp;#x38;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 Q
      .explicacion
        %b Caracter:
        Q
        %br/
        %b Caracter especial:
        \&amp;#x51;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 Z
      .explicacion
        %b Caracter:
        Z
        %br/
        %b Caracter especial:
        \&amp;#x5a;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 ^
      .explicacion
        %b Caracter:
        ^
        %br/
        %b Caracter especial:
        \&amp;#x5e;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 _
      .explicacion
        %b Caracter:
        _
        %br/
        %b Caracter especial:
        \&amp;#x5f;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 n
      .explicacion
        %b Caracter:
        n
        %br/
        %b Caracter especial:
        \&amp;#x6e;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 m
      .explicacion
        %b Caracter:
        m
        %br/
        %b Caracter especial:
        \&amp;#x6d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xf04a;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xf013;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xf099;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xf2ba;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xf288;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe000;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe001;
  .row
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe002;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe003;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe004;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe005;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe006;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe007;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe603;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe606;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe607;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe608;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe609;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe60a;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe60b;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe60c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe60d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe60e;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe60f;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe610;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe619;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe616;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe604;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe61b;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe61a;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe621;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe622;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe623;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe620;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe61e;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe61c;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe61d;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe612;
    .grid2.caja-icono.center.mt40
      .icons.icons-huge.mb20 
      .explicacion
        %b Caracter:
        
        %br/
        %b Caracter especial:
        \&amp;#xe601;